@{
    Layout = null;
}
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.2.0
Version: 3.1.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest (the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title>CaReS ® - Comprehensive Car-Rental Solution</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="Metronic Shop UI description" name="description">
    <meta content="Metronic Shop UI keywords" name="keywords">
    <meta content="keenthemes" name="author">
    <meta http-equiv="cleartype" content="on">
    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Fonts START -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Pathway+Gothic+One|PT+Sans+Narrow:400+700|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <!-- Fonts END -->
    <!-- Global styles BEGIN -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/settings.css" rel="stylesheet">
    <!-- Global styles END -->
    <!-- Page level plugin styles BEGIN -->
    <link href="~/assets/css/jquery.fancybox.css" rel="stylesheet">
    <!-- Page level plugin styles END -->
    <!-- Theme styles BEGIN -->
    <link href="~/assets/css/components.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/style-responsive.css" rel="stylesheet">
    <link href="~/assets/css/red.css" rel="stylesheet" id="style-color">
    <link href="~/assets/css/custom.css" rel="stylesheet">
    <link href="~/Content/toastr.css" rel="stylesheet" />

    <style>
        label {
            font-size: 20px;
        }
    </style>
    <!-- Theme styles END -->
</head>
<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body>
  
    <!-- Header BEGIN -->
    <div class="header header-mobi-ext">
        <div class="container">
            <div class="row">
                <!-- Logo BEGIN -->
                <div class="col-md-2 col-sm-2">
                    <a class="scroll site-logo" href="#promo-block"><img src="~/assets/Images/red.png" alt="Metronic One Page">&reg;</a>
                </div>
                <!-- Logo END -->
                <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
                <!-- Navigation BEGIN -->
                <div class="col-md-10 pull-right">
                    <ul class="header-navigation">
                        <li class="current"><a href="#promo-block">Home</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#benefits">Benefits</a></li>
                        <li><a href="#overView">Overview</a></li>
                        <li><a href="#sign_up">Signup</a></li>
                        <li><a href="#contactMe">Contact Us</a></li>
                    </ul>
                </div>
                <!-- Navigation END -->
            </div>
        </div>
    </div>
    <!-- Header END -->
    <!-- Promo block BEGIN -->
    <div class="promo-block" id="promo-block">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-delay="9400" class="slider-item-1">
                        <img src="~/assets/Images/slide1.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <div class="tp-caption large_text customin customout start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="60"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="2500"
                             data-start="700"
                             data-easing="Back.easeInOut"
                             data-endspeed="500">
                            <div class="promo-like"><i class="fa fa-thumbs-up"></i></div>
                            <div class="promo-like-text">
                                <h2>Comprehensive Car-Rental Solution</h2>
                                <p>A guarantee of minimum 5% increase in profit with no initial investment. <a href="#sign_up">Register</a> and start using</p>
                            </div>
                        </div>
                        <div style="left: 133px;" class="tp-caption large_bold_white fade"
                             data-x="center"
                             data-y="center"
                             data-voffset="-110"
                             data-speed="300"
                             data-start="1700"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <p> SOLUTION FOR <span>CAR-RENTAL</span> BUSINESS</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- Promo block END -->
    <!-- Services block BEGIN -->
    <div class="services-block content content-center" id="services">
        <div class="container">
            <h2>Our <strong>services</strong></h2>
            <h4>Enjoy doing business with us!</h4>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-wrench"></i>
                    <h3>Fantastic Support</h3>
                    <p>Our dedicated team provides quick response ready to help you at no additional charge.</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-money"></i>
                    <h3>Lowest Rates</h3>
                    <p>We provide cost effective solution with guarantee of minimum 5% increase in profit with no initial investment.</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-signal"></i>
                    <h3>Dashboard Management</h3>
                    <p>Daily reports & dashboard features provide instant analysis of your daily features.</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 item">
                    <i class="fa fa-list-alt"></i>
                    <h3>Online Reservation</h3>
                    <p>System allows third party partner web-sites to get available vehicles & costing information.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Services block END -->
    <!-- Message block BEGIN -->
    <div class="message-block content content-center valign-center" id="message-block">
        <div class="valign-center-elem">
            <h2>Integration Services for Booking & Reservations <strong>What else you need?</strong></h2>
            <em></em>
        </div>
    </div>
    <!-- Message block END -->
    <!-- Choose us block BEGIN -->
    <div class="choose-us-block content text-center margin-bottom-40" id="benefits">
        <div class="container">
            <h2>Why to <strong>choose us</strong></h2>
            <h4><a href="https://testcares.azurewebsites.net">CaReS ®</a> is a scalable application suite which is designed by highly qualified staff with decades of experience in car rental industry. It gives its customers, a privilege to customize pricing, define rates based on vehicles classification, define packages, create and configure branches. </h4>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                    <img src="~/assets/Images/choose-us.png" alt="Why to choose us" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                    <div class="panel-group" id="accordion1">
                      
                        <div class="panel panel-default" id="targetDiv">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a id="tempp"class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">Key Performance Indicators</a>
                                </h5>
                            </div>
                            <div id="accordion1_1" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    <ul>
                                        <li>Utilization rates (On road, Off road - Time analysis)</li>
                                        <li>Non-Revenue, KM analysis</li>
                                        <li>Action List - Cars overdue & un-paid cases</li>
                                        <li>Customer Profitability Analysis (CPA)</li>
                                        <li>Sales analysis, Gross Profits, Profit and Loss</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">Main Features</a>
                                </h5>
                            </div>
                            <div id="accordion1_2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>Rental Agreements</li>
                                        <li>Booking/Reservations</li>
                                        <li>Non-Revenue Ticket</li>
                                        <li>Pricing Control</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">Tools & Technology</a>
                                </h5>
                            </div>
                            <div id="accordion1_3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>.NET framework v 3.5</li>
                                        <li>Microsoft Application Blocks</li>
                                        <li>AJAX</li>
                                        <li>YUI Framework</li>
                                        <li>SQL Server 2005, MYSQL</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">Rental Agreements</a>
                                </h5>
                            </div>
                            <div id="accordion1_4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>Allocation of a vehicle</li>
                                        <li>Vehicle Up-gradation & replacement</li>
                                        <li>Tracking of vehicle’s movement & its condition</li>
                                        <li>Chauffeurs, Insurances & Services selection</li>
                                        <li>Automated Pricing & discounts</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">Non-Revenue Tickets</a>
                                </h5>
                            </div>
                            <div id="accordion1_5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>Inter Branch Transfers</li>
                                        <li>Fuel Filling</li>
                                        <li>Periodic Maintenance</li>
                                        <li>Motor Vehicle Periodic Inspection</li>
                                        <li>Vehicle Grant to Management</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose us block END -->
    <!-- Facts block BEGIN -->
    <div class="facts-block content content-center" id="facts-block" style=" padding-bottom: 0px;">
        <h2>Some facts about us</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item">
                        <strong>17</strong>
                        Projects Completed
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item">
                        <strong>12</strong>
                        Team Members
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item">
                        <strong>1.7k+</strong>
                        Products Sold
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item">
                        <strong>37</strong>
                        Weekly Sales
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts block END -->
   
    <!-- OVERVIEW BEGIN -->
    <div class="prices-block content content-center" id="overView" style=" padding-top: 0px; padding-bottom: 0px;">
        <div class="container">
            <h2 class="">Overview</h2>
            <div class="row">
                <!-- Pricing item BEGIN -->
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="pricing-item">
                        <div class="pricing-head">
                            <h3></h3>
                        </div>
                        <div class="pricing-content col-md-12 col-sm-6 col-xs-12">
                            <iframe class="col-md-12 col-sm-6 col-xs-12" src="https://docs.google.com/presentation/d/18bwat92gDEdFroskwtetorz9K9y69M-Fu0Zrv5J41nE/embed?start=false&loop=false&delayms=10000"
                                    width="1000" height="700" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="" class="overview-pane"></iframe>
                        </div>

                    </div>
                </div>
                <!-- Pricing item END -->
            </div>
        </div>
    </div>
    <!--OVERVIEW ends-->
    <!--SignUP block BEGIN-->
    <div class="prices-block content content-center" id="sign_up" style=" padding-top: 0px; padding-bottom: 0px;">
        <div class="container">
            <h2 class=""><strong>User</strong> Registration</h2>
            <div class="row">
                <!-- Pricing item BEGIN -->
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="pricing-item">
                        <div class="pricing-head">
                            <h3>Please Fill the Form</h3>
                        </div>
                        <div class="pricing-content">
                            @model APIInterface.Models.RegisterViewModel
                            @{
                                ViewBag.Title = "Register";
                            }
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {id="registerUserForm", @class = "form-horizontal  custom-group", role = "form" }))
                            {
                                var accountTypes = new List<SelectListItem>()
                                {
                                    new SelectListItem {Text = "Free", Value = "1"},
                                    new SelectListItem {Text = "Pro", Value = "2"},
                                    new SelectListItem {Text = "Ultimate", Value = "3"}
                                };
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger validation-summary-custom" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <label class="col-md-1 control-label validationAsterikLabel">*</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , id="emailRegs"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <label class="col-md-1 control-label validationAsterikLabel">*</label>
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" , id="passRegs"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                <label class="col-md-1 control-label validationAsterikLabel">*</label>
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                                <label class="col-md-1 control-label validationAsterikLabel">&nbsp;</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", id = "phoneNumber" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CompanyName, new { @class = "col-md-2 control-label" })
                                <label class="col-md-1 control-label validationAsterikLabel">*</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" , id="cmpNameRegs"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.ShortUrl, new { @class = "col-md-2 control-label" })
                                <label class="col-md-1 control-label validationAsterikLabel">*</label>
                                <div class="col-md-7">
                                    @Html.TextBoxFor(m => m.ShortUrl, new { @class = "form-control", id = "cmpUrl" })
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label validationAsterikLabel" id="urlErrorLabel" style="text-align: left;display: none; width: 95%; color: white">Checking availability...</label>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(dropdown => dropdown.CountryName, new { @class = "col-md-2 control-label" })
                                <label class="col-md-1 control-label validationAsterikLabel">*</label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(dropdown => dropdown.CountryName, new SelectList(Model.CountryList), "--Select Country--", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(dropdown => dropdown.AccountType, new { @class = "col-md-2 control-label" })
                                <label class="col-md-1 control-label validationAsterikLabel">*</label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(dropdown => dropdown.AccountType, new SelectList(accountTypes, "Value", "Text", 1), "--Select Account Type--", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CompanyAddress, new { @class = "col-md-2 control-label" })
                                <label class="col-md-1 control-label validationAsterikLabel">*</label>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.CompanyAddress, new { @class = "form-control",id="addressRegs" })
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="col-md-3 control-label validationAsterikLabel">&nbsp;</label>
                                <div class="pricing-footer col-md-9">
                                    <button type="submit" disabled class="btn btn-default" id="registraionButton">Register</button>
                                </div>
                            </div>
                            }
                        </div>

                    </div>
                </div>
                <!-- Pricing item END -->
            </div>
        </div>
    </div>
    <!--SignUP block END-->
    <!-- Contact us BEGIN -->
    <div class="prices-block content content-center" id="contactMe" style=" padding-top: 0px;">
        <div class="container">
            <h2 class="">&nbsp;</h2>
            <div class="row">
                <!-- Pricing item BEGIN -->
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="pricing-item">
                        <div class="pricing-head">
                            <h3>Find Us</h3>
                        </div>
                        <div class="pricing-content">
                            <div class="col-md-9 col-sm-9">
                                <!-- BEGIN FORM-->
                               
                                    <div class="form-group">
                                        <label style="float: left" for="name">Name</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label style="float: left" for="email">Email</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label style="float: left" for="body">Message</label>
                                        <textarea class="form-control" rows="5" id="body"></textarea>
                                    </div>
                                    <button id="contactUs" class="btn btn-primary"><i class="icon-ok"></i> Send</button>
                                <!-- END FORM-->
                            </div>
                            <div class="col-md-3 col-sm-3 sidebar2" style="text-align: left;">
                                <h2 style="text-align: left;">Our Contacts</h2>
                                <address>
                                    <strong>Loop, Inc.</strong><br>
                                    84-A1 Joahr Town<br>
                                    Lahore, Pakistan<br>
                                    <abbr title="Phone">P:</abbr> (+92) 123456
                                </address>
                                <address>
                                    <strong>Email</strong><br>
                                    <a href="mailto:info@innostark.com">info@innostark.com</a><br>
                                    <a href="mailto:support@innostark.com">support@innostark.com</a>
                                </address>
                                <ul class="social-icons margin-bottom-40">
                                    <li><a href="https://www.facebook.com/InnoSTARKTech" data-original-title="facebook" class="facebook"></a></li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- Pricing item END -->
            </div>
        </div>
    </div>
    <!--Contact us ends-->
 
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-6 col-sm-6">
                    <div class="copyright">2015 © <a href="https://tcares.azurewebsites.net">Cares</a> Rental Solution. ALL Rights Reserved.</div>
                </div>
                <!-- END COPYRIGHT -->
                <!-- BEGIN SOCIAL ICONS -->
                <div class="col-md-6 col-sm-6 pull-right">
                    <ul class="social-icons">
                        <li><a class="facebook" data-original-title="facebook" href="https://www.facebook.com/InnoSTARKTech"></a></li>
                    </ul>
                </div>
                <!-- END SOCIAL ICONS -->
            </div>
        </div>
    </div>
    <!-- END FOOTER -->
    <a href="#promo-block" class="go2top scroll"><i class="fa fa-arrow-up"></i></a>
    <!--[if lt IE 9]>
      <script src="~/assets/Scripts/global/plugins/respond.min.js"></script>
    <![endif]-->
    <!-- Load JavaScripts at the bottom, because it will reduce page load time -->
    <!-- Core plugins BEGIN (For ALL pages) -->
    <script src="~/assets/Scripts/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="~/assets/Scripts/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="~/assets/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <!-- Core plugins END (For ALL pages) -->
    <!-- BEGIN RevolutionSlider -->
    <script src="~/assets/Scripts/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="~/assets/Scripts/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script src="~/assets/Scripts/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="~/assets/Scripts/revo-ini.js" type="text/javascript"></script>
    <!-- END RevolutionSlider -->
    <!-- Core plugins BEGIN (required only for current page) -->
    <script src="~/assets/Scripts/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="~/assets/Scripts/jquery.easing.js"></script>
    <script src="~/assets/Scripts/jquery.parallax.js"></script>
    <script src="~/assets/Scripts/jquery.scrollTo.min.js"></script>
   

    <script src="~/assets/Scripts/jquery.nav.js"></script>
    <script src="~/Scripts/_jquery.blockUI.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/ISTUtility.js"></script>  <!--Baqer added this-->


    <!-- Core plugins END (required only for current page) -->
    <!-- Global js BEGIN -->
    <script src="~/assets/Scripts/layout.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            //$("#tempp").addClass("collapsed");
            //$("#accordion1_1").addClass("collapse");
            //$('#accordion1_1').css('height', '0px');
            //$('#accordion1_1').css('display', 'none');

            var oldUrl=0;
            //var status = 0;

            Layout.init();
            $("#cmpUrl").on("keydown", function(e) {
                if (e.which !== 32) {
                    return true;
                } else {

                    return false;
                }
            });
            $("#cmpUrl").focusout(function () {
                var url = document.getElementById('cmpUrl').value;

                if (url == "" || url == oldUrl)
                    return false;
                oldUrl = url;
                
                $('#urlErrorLabel').css({ 'display': 'block' });
                $('#urlErrorLabel').text("Processing...");
                $('#urlErrorLabel').css({ 'color': 'royalblue' });
                
                var requestUrl = 'Home/CompanyURLAvailability';
                var testPath = window.location.pathname;
                if (testPath.indexOf("Home") >= 0) {
                    requestUrl = 'CompanyURLAvailability';
                }
                
                $.ajax({
                    type: 'POST',
                    data: "{'url':'" + url + "'}",
                    contentType: "application/json; charset=utf-8",
                    url: requestUrl,
                    dataType: 'json',
                    success: function(response) {
                        if (response !== null && response !== undefined && response.status == true) {
                            $('#urlErrorLabel').text("Available!");
                            $('#urlErrorLabel').css({ 'color': 'greenyellow' });
                            $('#registraionButton').prop('disabled', false);

                        } else {
                            $('#urlErrorLabel').text("Not Available!");
                            $('#urlErrorLabel').css({ 'color': 'red' });
                            $('#registraionButton').prop('disabled', true);
                        }
                    },
                    error: function(a, b, c) {

                    },
                });
                return false;
            });
            //$("#targetDiv").click(function () {
            //    // close kro
            //    if (status == 1) {

            //        $("#accordion1_1").removeClass("in");
            //        $("#tempp").addClass("collapsed");
            //        $('#accordion1_1').css('display', 'none');
            //        $('#accordion1_1').css('height', '0px');
            //        status = 0;
            //        return false;
            //    }// open kro
            //    else {
            //        status = 1;
            //        $("#tempp").removeClass("collapsed");
            //        $("#accordion1_1").addClass("in");
            //        $('#accordion1_1').css('height', '80px');
            //        $('#accordion1_1').css('display', 'block');
            //        return false;
            //    }
            //});
            $("#contactUs").click(function () {
                var resposne = SendEmail();
                return resposne;
                // ISTUtility.js
            });
            
        });
        function SendEmail() {
           
            var senderName = $("#name").val();
            var senderEmail = $("#email").val();
            var emailBody = $("#body").val();
            var emailSubject = $("#subject").val();


            if (senderName == "" || senderEmail == "" || emailBody == "") {
                toastr.error("Field(s) are mandatory!");
                return false;
            }
            hideUi();
            var email = {
                SenderName: senderName,
                SenderEmail: senderEmail,
                EmailSubject: 'Hello Admin',
                EmailBody: emailBody
            };

            var requestUrl = 'Home/SendEmail';
            var testPath = window.location.pathname;
            if (testPath.indexOf("Home") >= 0) {
                requestUrl = 'SendEmail';
            }

            $.ajax({
                type: 'POST',
                data: JSON.stringify(email),
                contentType: "application/json; charset=utf-8",
                url: requestUrl,
                dataType: 'json',
                success: function (response) {
                    showUi();
                    if (response.status == "ok") {

                        toastr.success("Email sent!");
                        return true;
                    } else {
                        toastr.error("Failed to send email.Try agian later!");
                        return false;
                    }
                },
                error: function (aa, vv, ff) {
                    toastr.error("Failed to send email.Try agian later!");
                    return false;
                },
            });
        }
        function hideUi() {
            $.blockUI({
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });

        }
        function showUi() {

            setTimeout($.unblockUI, 500);
        }

        $("#registerUserForm").submit(function() {
            var val1 = $("#emailRegs").val();
            var val2 = $("#passRegs").val();
            var val3 = $("#phoneNumber").val();
            var val4 = $("#cmpNameRegs").val();
            var val5 = $("#addressRegs").val();
            if (val1 == "" || val2 == "" || val3 == "" || val4 == "" || val5 == "") {
                toastr.error("Field(s) are mandatory!");
                return false;
            }
            hideUi();

            return true;
        });
    </script>
    <!-- Global js END -->
</body>

</html>