@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Renty - Car Rental &amp; Booking HTML5 Template</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/images/favicon.ico" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/jquery.slider.min.css" />
    <style>
    
    </style>
</head>
<body class="page page-two-column no-main-form">
    <div id="conteiner">
        <div id="branding">
            <div id="branding-content">
                <div class="title-content">
                    <a href="01-home-v1.html" title=""><img class="site-logo" src="images/thumb.png" alt="" /></a>
                    <h1 class="site-title"><a href="01-home-v1.html" title="">Renty</a></h1>
                </div>
                <div class="access-content">
                    <ul>
                       <!--menue here-->
                    </ul>
                </div><!-- .access -->
                <div class="menus-content">
                    <div class="menus">
                        <div class="language">
                            <select class="select" name="select_language">
                                <option selected="selected">English</option>
                                <option >Arabic</option>
                            </select>
                        </div>
                       
                    </div>
                   
                </div>
            </div><!-- #branding-content -->
            <div class="clear"></div>
        </div><!-- #branding -->
        <div id="progress-bar">
            <div id="progress-bar-steps">
                <div class="progress-bar-step done">
                    <div class="step_number">1</div>
                    <div class="step_name">Create request</div>
                </div>
                <div class="progress-bar-step done">
                    <div class="step_number">2</div>
                    <div class="step_name">Choose a car</div>
                </div>
                <div class="progress-bar-step done">
                    <div class="step_number">3</div>
                    <div class="step_name">Choose extras</div>
                </div>
                <div class="progress-bar-step last current">
                    <div class="step_number">4</div>
                    <div class="step_name">Review &amp; Book</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="main">
            <div id="primary">
                <div class="clear"></div>
                <aside id="secondary" class="sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">
                            <img src="images/order_info.png" alt="" />
                            Order Info
                        </h3>
                        <h4>
                            Car
                            <a href="04-choose-car.html" title="">Edit</a>
                        </h4>
                        <div class="widget-content main-block product-widget-mini">
                            <div class="product-img">
                                <img src="http://placehold.it/105x55" alt="" />
                            </div>
                            <div class="product-info">
                                <div class="entry-format">
                                    <div>Ford Escape</div>
                                    <span>Economy</span>
                                </div>
                                <div class="features">
                                    <p><img src="images/passenger-icon.png" alt="" /> 5 passengers</p>
                                    <p><img src="images/suitcase-icon.png" alt="" /> 3 large suitcases, 2 small suitcase</p>
                                    <p><img src="images/transmission-icon.png" alt="" /> automatic transmission</p>
                                    <p><img src="images/air-icon.png" alt="" /> air conditioning</p>
                                    <p><img src="images/km_l-icon.png" alt="" /> 9 km/l</p>
                                </div>
                                <div class="details">
                                    <div class="view-details">[+] View car details</div>
                                    <div class="close-details">[-] Close car details</div>
                                    <ul class="details-more">
                                        <li>6-speaker radio/CD system</li>
                                        <li>Escaro black fabric</li>
                                        <li>Hybrid System display</li>
                                        <li>Vehicle Stability Control</li>
                                        <li>Hill-start Assist Control</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h4>
                            Date &amp; Location
                            <a href="01-home-v1.html" title="">Edit</a>
                        </h4>
                        <div class="widget-content widget-info">
                            <h4>Pick Up time</h4>
                            <p>Wed, 06 Mar, 2013 at 10:00</p>
                            <h4>Return time</h4>
                            <p>Thu, 21 Mar, 2013 at 10:00</p>
                            <h4>Pickup and Return Location</h4>
                            <p>New York City JFK Airport</p>
                            <div class="subtotal_content">
                                <div class="subtotal">
                                    Subtotal: <span class="price">$3568.00</span>
                                </div>
                            </div>
                        </div>
                        <h4>
                            Extras
                            <a href="05-choose-extras.html" title="">Edit</a>
                        </h4>
                        <div class="widget-content widget-extras">
                            <p>Infant Child Seats x 2 <span class="price">$200.00</span></p>
                            <p>NeverLost <span class="price">$129.99</span></p>
                        </div>
                        <div class="widget-footer widget-footer-total">
                            Total: <span class="price">$3897.99</span>
                        </div>
                    </div>
                </aside>
                <div id="content" class="sidebar-middle">
                    @model APIInterface.Models.UserInfoModel
@using (Html.BeginForm("Checkout", "Rental", FormMethod.Post, new { @class = "form-horizontal  complete_reservation", role = "form" }))
{
        <div class="widget main-widget main-widget-3column">
            <div class="widget-title">
                <div>
                    <img src="images/list.png" alt="" />
                    Complete reservation form
                </div>
                <div class="clear"></div>
            </div>
            <h4>Note</h4>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger validation-summary-custom" })
            <div class="widget-content widget-note">
                <h4>Upon completing this reservation, you will receive:</h4>
                <ul>
                    <li>Your rental voucher to produce on arrival at the rental desk</li>
                    <li>A toll-free customer support number</li>
                </ul>
            </div>
            <h4>Personal information</h4>
            <div class="widget-content">
                <div class="form_element">
                    <div>@Html.LabelFor(m => m.FName, new { @class = "" }) </div>
                    @Html.TextBoxFor(m => m.FName, new { @class = "form-control", placeholder = "Enter your first name" })
                    
                </div>
                <div class="form_element">
                    <div>@Html.LabelFor(m => m.LName, new { @class = "" }) </div>
                    @Html.TextBoxFor(m => m.LName, new { @class = "form-control", placeholder = "Enter your last name" })
                </div>
               
                <div class="clear"></div>
                <div class="form_element">
                    <div>@Html.LabelFor(m => m.Email, new { @class = "" }) </div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email address" })
                </div>
                <div class="form_element">
                    <div>@Html.LabelFor(m => m.ConfirmEmail, new { @class = "" }) </div>
                    @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control", placeholder = "Re-enter your email address" })
                </div>
                <div class="clear"></div>
                <div class="form_element">
                    <div>@Html.LabelFor(m => m.PhoneNumber, new { @class = "" }) </div>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Enter your Phone Number" })
                </div>
                <div class="clear"></div>

            </div>
            <h4>Billing address</h4>
            <div class="widget-content personal_info">
                <div class="form_element">
                    <div>@Html.LabelFor(m => m.City, new { @class = "" }) </div>
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Enter City" })
                </div>
                <div class="form_element">
                    @Html.LabelFor(dropdown => dropdown.CountryName, new { @class = "" })
                    <div class="card_country" style="    margin-top: 0px;">
                        @Html.DropDownListFor(dropdown => dropdown.CountryName, new SelectList(Model.CountryList), "--Select Country--", new { name = "card_country", id = "countryList" })
                    </div>
                </div>
                <div class="form_element">
                    <div>@Html.LabelFor(m => m.PostalCode, new { @class = "" }) </div>
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", placeholder = "Enter Post Code" })
                </div>
                
                <div class="form_element">
                    <div>@Html.LabelFor(m => m.BillingAddress, new { @class = "" }) </div>
                    @Html.TextBoxFor(m => m.BillingAddress, new { @class = "form-control", style="width: 171%", placeholder = "Enter Billing Address" })
                </div>

                <div class="clear"></div>
            </div>
        </div>
        <div class="next_page">
            <input class="continue_button blue_button" type="submit" value="Book Now" />
        </div>
}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <footer id="footer">
         
            <div id="footer-content">
                <img class="site-logo" src="images/thumb.png" alt="" />
                <h1 class="site-title">Renty</h1>
                <div class="company-name">Renty Company Inc,120 CA 15th Avenue - Suite 214</div>
            </div><!-- #div-content -->
        </footer><!--end:footer-->
    </div><!--end:conteiner-->

    <script type="text/javascript" src="~/Scripts/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-ui.js"></script>
    <!--[if IE]>
    <script type="text/javascript" src="~/Scripts/js/placeholder_ie.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/js/jquery.slider.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.meio.mask.js"></script>
    <script type="text/javascript" src="~/Scripts/js/custom-form-elements.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.selectbox-0.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/script.js"></script>
</body>
</html>