@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>@Session["siteName"] | Make your booking done!</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/images/favicon.ico" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/jquery.slider.min.css" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/IstStyleSheet.css" rel="stylesheet" />
    <style>
    
    </style>
</head>
<body class="page page-two-column no-main-form">
    <div id="conteiner">
        <div id="branding">
            <div id="branding-content">
                <div class="title-content">
                    <a title=""><img style="width: 128px" class="site-logo" src="@Session["CompanyLogo"]" alt="" /></a>
                    <h1 style=" width: 200%;margin-left: 65px" class="site-title"><a title="">@Session["siteName"]</a></h1>
                </div>
                <div class="access-content">
                    <ul>
                        <!--menue here-->
                    </ul>
                </div><!-- .access -->
                <div class="menus-content">
                    <div class="menus">
                        <div class="language">
                            <select class="select" name="select_language">
                                <option selected="selected">English</option>
                                @*<option selected="selected">Arabic</option>*@
                            </select>
                        </div>
                    </div>
                </div>
            </div><!-- #branding-content -->
            <div class="clear"></div>
        </div><!-- #branding -->
        <div id="progress-bar">
            <div id="progress-bar-steps">
                <a title="Create new reservation" id="startingForm" class="progress-bar-step done" href='@Url.Action("Index", Session["CompanyShortName"] + "/Rental/Index")'>
                    <div class="step_number">1</div>
                    <div class="step_name">Create request</div>
                </a>
                <div class="progress-bar-step done">
                    <div class="step_number">2</div>
                    <div class="step_name">Choose a car</div>
                </div>
                <div class="progress-bar-step done">
                    <div class="step_number">3</div>
                    <div class="step_name">Choose extras</div>
                </div>
                <div class="progress-bar-step last current">
                    <div class="step_number">4</div>
                    <div class="step_name">Review &amp; Book</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        @model APIInterface.Models.UserInfoModel
        <div id="main">
            <div id="primary">
                <div class="clear"></div>
                <aside id="secondary" class="sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">
                            <img src="~/Images/images/order_info.png" alt="" />
                            Order Info
                        </h3>
                        <h4>
                            Car
                        </h4>
                        <div class="widget-content main-block product-widget-mini">
                            <div class="product-img">
                                <img style="width: 105px;height: 55px" src="@Session["vehicleimgurl"]" title="Vehicle photo" />
                            </div>
                            @{
                                var hireGroup = (WebApiHireGroupDetailResponse)HttpContext.Current.Session["selectedHireGroupDetail"];
                            }
                            <div class="product-info">
                                <div class="entry-format">
                                    <div>@hireGroup.HireGroup</div>
                                    <span>@hireGroup.VehicleCategory</span>
                                </div>
                                <div class="features">
                                    <span style=" padding-right: 16px; word-break: break-word; width: 154px; display: table-cell;" title="Vehicle Maker"><img src="~/Images/images/vehicleMaker.png" alt="" style="    height: 20px; width: 20px;" /><span>@hireGroup.VehicleMake</span></span>
                                    <span style=" display: table-cell; width: 136px; word-break: break-word;" title="Vehicle Model"><img style="    height: 18px; width: 18px;" src="~/Images/images/vehicleModel.png" alt="" /><span>@hireGroup.VehicleModel</span></span>
                                    <span title="Vehicle Model-Year"><img style="    height: 18px; width: 18px;" src="~/Images/images/vehicelModelYear.png" alt="" /><span>@hireGroup.ModelYear</span> </span>
                                    <span style="margin-left: 92px;" title="Charge"><img style="    height: 20px; width: 20px;" src="~/Images/images/dollars19.png" alt="" /><span id="standard_rate" style="margin-left: -4px">SAR @hireGroup.FormatedStandardRate</span>  </span>
                                </div>

                            </div>
                        </div>
                        <h4>
                            Date &amp; Location
                            <a href="" title=""></a>
                        </h4>
                        <div class="widget-content widget-info">
                            <span style="font-weight: bold; margin-left: 20px;">Pick-Up </span> <span style="font-weight: bold; margin-left: 93px;">Drop-Off </span>
                            <br />
                            <span style="margin-left: 20px;">@Session["pickupDate"]</span>
                            <span style="margin-left: 33px;">@Session["dropoffDate"]</span>
                            <span style=" margin-top: 5px; background-color: rgb(238, 238, 238); word-break: break-word; width: 128px; margin-left: 20px; display: block;">@Session["pickupName"]</span>
                            <span style="margin-top: -21px; background-color: rgb(238, 238, 238); word-break: break-word; width: 121px; margin-right: 18px; display: block; float: right;">@Session["dropoffName"]</span>

                            <div class="subtotal_content">
                                <div class="subtotal">
                                    Subtotal(SAR) : <span class="price">@(Model.FormatedSubTotal) </span>
                                </div>
                            </div>
                        </div>
                        <h4>
                            Extras
                            <a href="#" title=""></a>
                        </h4>
                        <div class="widget-content widget-extras">
                            @if (Model.ItemsHtml != null)
                            {
                                foreach (var item in Model.ItemsHtml)
                                {
                                    @Html.Raw(item)
                                }
                            }

                        </div>
                        <div class="widget-footer widget-footer-total">
                            Total(SAR): <span class="price">@Model.FormatedGrandTotal</span>
                        </div>
                    </div>
                </aside>
                <div id="content" class="sidebar-middle">
                    @using APIInterface.Models.ResponseModels
                    
                    @using (Html.BeginForm("Checkout", Session["CompanyShortName"] + "/Rental", FormMethod.Post, new { id = "submitReservation", @class = "form-horizontal  complete_reservation", role = "form" }))
                    {
                        <div class="widget main-widget main-widget-3column">
                            <div class="widget-title">
                                <div>
                                    <img src="~/Images/images/list.png" alt="" />
                                    Complete reservation form
                                </div>
                                <div class="clear"></div>
                            </div>
                            @Html.AntiForgeryToken()
                            @*@Html.ValidationSummary("", new { @class = "text-danger validation-summary-custom" })*@
                            <h4>Personal information</h4>
                            <div class="widget-content">
                                <div>
                                    <div>

                                        @Html.LabelFor(m => m.CustomerType, new { @class = "",  })
                                        @Html.RadioButtonFor(m => m.CustomerType, "Male", new {id="1", @checked = "checked", @class = "form-control validateMandatory userType", style = "margin-left: 28px; width: 20px;height: 20px;" })
                                        <label class="control-label" style="font-family: inherit; text-transform: uppercase; font-size: 11px; margin-left: 9px;">New</label>
                                        @Html.RadioButtonFor(m => m.CustomerType, "Female", new { id = "2", @class = "form-control validateMandatory userType", style = "margin-left: 28px; width: 28px;height: 20px;" })
                                        <label class="control-label" style=" font-family: inherit; text-transform: uppercase; font-size: 11px; margin-left: 9px;">Registered</label>
                                    </div>
                                </div>
                                <br />
                                <div class="form_element">
                                    <div>
                                        @Html.LabelFor(m => m.FName, new { @class = "" })
                                        <label class="control-label validationAsterikLabel" style="color: red;">*</label>
                                    </div>
                                    @Html.TextBoxFor(m => m.FName, new { @class = "form-control validateMandatory", id="firstName", placeholder = "Enter your first name" })
                                </div>
                                <div class="form_element">
                                    <div>
                                        @Html.LabelFor(m => m.LName, new { @class = "" })
                                        <label class="control-label validationAsterikLabel" style="color: red;">*</label>
                                    </div>
                                    @Html.TextBoxFor(m => m.LName, new { @class = "form-control validateMandatory", id="lName",placeholder = "Enter your last name" })
                                </div>

                                <div class="clear"></div>
                                <div class="form_element">
                                    <div>
                                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "" })
                                        <label class="control-label validationAsterikLabel" style="color: red;">*</label>
                                    </div>
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control validateMandatory", id="pNumber",placeholder = "Enter your Phone Number" })
                                </div>
                                <div class="form_element">
                                    <div>
                                        @Html.LabelFor(m => m.Email, new { @class = "" })
                                        <label class="control-label validationAsterikLabel" style="color: red;">*</label>
                                    </div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control validateMandatory", id = "emailToCustomer", placeholder = "Enter your email address" })
                                </div>
                                <div class="clear"></div>

                                <div class="form_element">
                                    <div>@Html.LabelFor(m => m.BillingAddress, new { @class = "" }) </div>
                                    @Html.TextBoxFor(m => m.BillingAddress, new { @class = "form-control", id="address", placeholder = "Enter your billing address" })
                                </div>
                                <div class="form_element form-block pick-up" style=" margin-left: 10px; margin-top: 12px;">
                                    <h4>Date of Birth</h4>
                                    <input style="padding-left: 36px; background: #F9F9F9 url(../../Images/images/calendar.png) no-repeat left center; margin: 0 0 0 -1px; width: 75%; " type="text" id="dob_value" value="" name="data_from" />
                                </div>
                                <div class="clear"></div>
                                @Html.HiddenFor(x => x.DOB)
                                @Html.HiddenFor(x => x.CustomerTypeHidden)
                                @Html.HiddenFor(x => x.IsPostBack, new { Value = Model.IsPostBack })
                            </div>
                            <div style="float: right; margin-right: 12px; margin-bottom: 12px;">
                                <input class="continue_button blue_button" type="submit" value="Book Now" />
                                <input id="cancelRes" type="button" class="blue_button" value="Cancel" style="padding-right: 12px; height: 46px; font-weight: inherit; color: white; width: 27%; border-color: red; background-color: red; box-shadow: 0 1px 2px 0 #C15939 inset, inset 0 -15px 15px 0 #EC2F5B; float: left; margin-right: 5px; padding-left: 7px; " />
                            </div>
                            <h4>Note</h4>
                            <div class="widget-content widget-note">
                                <h4>Upon completing this reservation, you will receive:</h4>
                                <ul>
                                    <li>Your rental voucher to produce on arrival at the rental desk</li>
                                    <li>A toll-free customer support number</li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <footer id="footer"></footer><!--end:footer-->
    </div><!--end:conteiner-->

    <script type="text/javascript" src="~/Scripts/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-ui.js"></script>
    <!--[if IE]>
    <script type="text/javascript" src="~/Scripts/js/placeholder_ie.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/js/jquery.slider.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.meio.mask.js"></script>
    <script type="text/javascript" src="~/Scripts/js/custom-form-elements.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.selectbox-0.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/script.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/_jquery.blockUI.js"></script>
    <script src="~/Scripts/ISTUtility.js"></script>  <!--Baqer added this-->

    <script src="~/assets/js/new-jquery.inputmask.bundle.min.js"></script>

    <script>

        $(document).ready(function () {
            IntitCheckout();
            // Cancel Booking Handler
            $("#cancelRes").click(function () {
                var r = confirm("Do you want to discard booking?");
                if (r == true) {
                    toastr.error("Booking canceled!");
                    window.location.href = "MoveToIndex";
                }
            }); 
 
            if ($("#IsPostBack").val() == 2) {
                toastr.error("Booking failed to save!");
            }
            
            if (userType == 2) {
                makeDisabledFields();
            }

        });

     
        // Phone Number Mask
        $("#pNumber").inputmask("mask", {
            "mask": "(999) 999-9999",
            'autoUnmask': true
        });


        // Date of Birth Mask
        $("#dob_value").inputmask("mask", {
            "mask": "m/d/y",
            'autoUnmask': true
        });

        // Book Now Handler 
        $("#submitReservation").submit(function () {
            hideUi();
            var value = validateBookingForm(userType);
            if (value == false) {
                showUi();
            }
        });

    </script>
</body>



</html>