@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>@Session["siteName"] &amp; @Session["siteTitle"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/images/favicon.ico" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/jquery.slider.min.css" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/IstStyleSheet.css" rel="stylesheet" />
    <style>
    
    </style>
</head>
<body class="page page-two-column no-main-form">
    <div id="conteiner">
        <div id="branding">
            <div id="branding-content">
                <div class="title-content">
                    <a  title=""><img style="width: 128px" class="site-logo" src="@Session["CompanyLogo"]" alt="" /></a>
                    <h1 style=" width: 200%;margin-left: 65px" class="site-title"><a title="">@Session["siteName"]</a></h1>
                </div>
                <div class="access-content">
                    <ul>
                        <!--menue here-->
                    </ul>
                </div><!-- .access -->
                <div class="menus-content">
                    <div class="menus">
                        <div class="language">
                            <select class="select" name="select_language">
                                <option>English</option>
                                <option selected="selected">Arabic</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div><!-- #branding-content -->
            <div class="clear"></div>
        </div><!-- #branding -->
        <div id="progress-bar">
            <div id="progress-bar-steps">
                <a title="Create new reservation"id="startingForm" class="progress-bar-step done" href='@Url.Action("Index", Session["CompanyShortName"] + "/Rental/Index")'>
                    <div class="step_number">1</div>
                    <div class="step_name">Create request</div>
                </a>
                <div class="progress-bar-step done">
                    <div class="step_number">2</div>
                    <div class="step_name">Choose a car</div>
                </div>
                <div class="progress-bar-step done">
                    <div class="step_number">3</div>
                    <div class="step_name">Choose extras</div>
                </div>
                <div class="progress-bar-step last current">
                    <div class="step_number">4</div>
                    <div class="step_name">Review &amp; Book</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="main">
            <div id="primary">
                <div class="clear"></div>
                <aside id="secondary" class="sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">
                            <img src="~/Images/images/order_info.png" alt="" />
                            Order Info
                        </h3>
                        <h4>
                            Car
                        </h4>
                        <div class="widget-content main-block product-widget-mini">
                            <div class="product-img">
                                <img style="width: 105px;height: 55px" src="@Session["vehicleimgurl"]" title="Vehicle photo" />
                            </div>
                            @{
                                var hireGroup = (WebApiHireGroupDetailResponse)HttpContext.Current.Session["selectedHireGroupDetail"];
                            }
                            <div class="product-info">
                                <div class="entry-format">
                                    <div>@hireGroup.HireGroup</div>
                                    <span>@hireGroup.VehicleCategory</span>
                                </div>
                                <div class="features">
                                    <p title="Vehicle Maker"><img src="~/Images/images/vehicleMaker.png" alt="" style="    height: 20px; width: 20px;" /><span>@hireGroup.VehicleMake</span></p>
                                    <p title="Vehicle Model"><img style="    height: 18px; width: 18px;" src="~/Images/images/vehicleModel.png" alt="" /><span>@hireGroup.VehicleModel</span> </p>
                                    <p title="Vehicle Model-Year"><img style="    height: 18px; width: 18px;" src="~/Images/images/vehicelModelYear.png" alt="" /><span>@hireGroup.ModelYear</span> </p>
                                    <p title="Charge"><img style="    height: 20px; width: 20px;" src="~/Images/images/dollars19.png" alt="" /><span id="standard_rate" style="margin-left: -4px">SAR @hireGroup.StandardRt</span>  </p>
                                </div>

                            </div>
                        </div>
                        <h4>
                            Date &amp; Location
                            <a href="" title=""></a>
                        </h4>
                        <div class="widget-content widget-info">
                            <h4>Pick Up time</h4>
                            <p>@Session["pickupDate"]</p>
                            <h4>Return time</h4>
                            <p>@Session["dropoffDate"]</p>
                            <h4>Pickup Location</h4>
                            <p>@Session["pickupName"]</p>
                            <h4>Return Location</h4>
                            <p>@Session["dropoffName"]</p>
                            <div class="subtotal_content">
                                <div class="subtotal">
                                    Subtotal(SAR) : <span class="price">@(Model.SubTotal) </span>
                                </div>
                            </div>
                        </div>
                        <h4>
                            Extras
                            <a href="#" title=""></a>
                        </h4>
                        <div class="widget-content widget-extras">
                            @if (Model.ItemsHtml != null)
                            {
                                foreach (var item in Model.ItemsHtml)
                                {
                                    @Html.Raw(item)
                                }
                            }

                        </div>
                        <div class="widget-footer widget-footer-total">
                            Total(SAR): <span class="price">@Model.GrandTotal</span>
                        </div>
                    </div>
                </aside>
                <div id="content" class="sidebar-middle">
                    @using APIInterface.Models.ResponseModels
                    @model APIInterface.Models.UserInfoModel
                    @using (Html.BeginForm("BookCar", Session["CompanyShortName"] + "/Rental", FormMethod.Post, new { id="submitReservation", @class = "form-horizontal  complete_reservation", role = "form" }))
                    {
                        <div class="widget main-widget main-widget-3column">
                            <div class="widget-title">
                                <div>
                                    <img src="~/Images/images/list.png" alt="" />
                                    Complete reservation form
                                </div>
                                <div class="clear"></div>
                            </div>
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger validation-summary-custom" })
                            <h4>Personal information</h4>
                            <div class="widget-content">
                                <div class="form_element">
                                    <div>
                                        @Html.LabelFor(m => m.FName, new { @class = "" })
                                        <label class="control-label validationAsterikLabel" style="color: red;">*</label>
                                    </div>
                                    @Html.TextBoxFor(m => m.FName, new { @class = "form-control validateMandatory", placeholder = "Enter your first name" })
                                    @Html.ValidationMessageFor(m => m.FName)
                                </div>
                                <div class="form_element">
                                    <div>
                                        @Html.LabelFor(m => m.LName, new { @class = "" })
                                        <label class="control-label validationAsterikLabel" style="color: red;">*</label>
                                    </div>
                                    @Html.TextBoxFor(m => m.LName, new { @class = "form-control validateMandatory", placeholder = "Enter your last name" })
                                    @Html.ValidationMessageFor(m => m.LName)
                                </div>

                                <div class="clear"></div>
                                <div class="form_element">
                                    <div>
                                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "" })
                                        <label class="control-label validationAsterikLabel" style="color: red;">*</label>
                                    </div>
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control validateMandatory", placeholder = "Enter your Phone Number" })
                                </div>
                                <div class="form_element">
                                    <div>
                                        @Html.LabelFor(m => m.Email, new { @class = "" })
                                        <label class="control-label validationAsterikLabel" style="color: red;">*</label>
                                    </div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control validateMandatory", placeholder = "Enter your email address" })
                                </div>
                                <div class="clear"></div>

                                <div class="form_element">
                                    <div>@Html.LabelFor(m => m.BillingAddress, new { @class = "" }) </div>
                                    @Html.TextBoxFor(m => m.BillingAddress, new { @class = "form-control", placeholder = "Enter your billing address" })
                                </div>
                                <div class="form_element form-block pick-up" style="    margin-top: 12px;">
                                    <h4>Date of Birth</h4>
                                    <input class="datepicker" style="width: 75%;" type="text" id="dob_value" value="" name="data_from" />
                                </div>
                                <div class="clear"></div>
                                @Html.HiddenFor(x => x.DOB)
                            </div>
                            <div style="float: right; margin-right: 12px; margin-bottom: 12px;">
                                <input class="continue_button blue_button" type="submit" value="Book Now" />
                                <input id="cancelRes" onclick="@Url.Action("Index", Session["CompanyShortName"] + "/Rental/Index")" type="button" class="blue_button"  value="Cancel" style="padding-right: 12px; height: 46px; font-weight: inherit; color: white; width: 27%; border-color: red; background-color: red; box-shadow: 0 1px 2px 0 #C15939 inset, inset 0 -15px 15px 0 #EC2F5B; float: left; margin-right: 5px; padding-left: 7px; " />
                            </div>
                        <h4>Note</h4>
                        <div class="widget-content widget-note">
                            <h4>Upon completing this reservation, you will receive:</h4>
                            <ul>
                                <li>Your rental voucher to produce on arrival at the rental desk</li>
                                <li>A toll-free customer support number</li>
                            </ul>
                        </div>
                    </div>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <footer id="footer"></footer><!--end:footer-->
    </div><!--end:conteiner-->

    <script type="text/javascript" src="~/Scripts/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-ui.js"></script>
    <!--[if IE]>
    <script type="text/javascript" src="~/Scripts/js/placeholder_ie.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/js/jquery.slider.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.meio.mask.js"></script>
    <script type="text/javascript" src="~/Scripts/js/custom-form-elements.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.selectbox-0.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/script.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/ISTUtility.js"></script>
    <script>
        $("#startingForm").hover(function () {
            var cls = document.getElementById("startingForm").className;
            if (cls == "progress-bar-step done") {
                $("#startingForm").removeClass("progress-bar-step done").addClass("progress-bar-step current");
                return false;
            }
            $("#startingForm").removeClass("progress-bar-step current").addClass("progress-bar-step done");

        });

        $("#submitReservation").submit(function () {
            $("#DOB").val($("#dob_value").val());
            if (DOBCheck())
                return validateForm();
            else
                return false;
        });
        
        function DOBCheck() {
            var today = new Date();
            var birthDate = new Date($("#dob_value").val());
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
           if (isNaN(age) ||  age < 21) {
               toastr.error("Age must be greater that 21 years!");
               return false;
           }
            return true;
        }
    </script>
</body>

</html>