
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#" lang="@APIInterface.Helper.CultureHelper.GetCurrentNeutralCulture()" dir="@(APIInterface.Helper.CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Session["siteName"] - @Session["siteTitle"]</title>
    <link rel="shortcut icon" href="@Session["titleIcon"]" />
    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="~/assets/ico/favicon.ico">
    <!-- CSS Global -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/assets/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/assets/plugins/animate/animate.min.css" rel="stylesheet">
    <link href="~/assets/plugins/swiper/css/swiper.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/IstStyleSheet.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>


    <!-- Theme CSS -->
    <link href="~/assets/css/theme.css" rel="stylesheet">
    <!-- Head Libs -->
    <script src="~/assets/plugins/modernizr.custom.js"></script>
    <!--[if lt IE 9]>
    <script src="~/assets/plugins/iesupport/html5shiv.js"></script>
    <script src="~/assets/plugins/iesupport/respond.min.js"></script>
    <![endif]-->
    <style>
        option {
            background-color: rgb(81, 79, 87);
        }

        .thumbnail.no-border.no-padding.thumbnail-car-card {
            margin-left: 50px;
        }

        #map-canvas {
            min-height: 500px;
            height: 90%;
            border: 1px solid blue;
        }

        .dropdown-menu.inner.selectpicker {
            max-height: 200px;
            overflow-y: auto;
            min-height: 92px;
        }

        .dropdown-menu.open {
            max-height: 200px;
        }

        .fa-map-marker {
            color: red;
            cursor: pointer;
        }


        a.selected {
            background-color: #1F75CC;
            color: white;
            z-index: 100;
        }

        .messagepop {
            margin-left: 67px;
            background-color: #FFFFFF;
            border: 1px solid #999999;
            cursor: default;
            display: none;
            margin-top: -130px;
            position: absolute;
            text-align: left;
            width: 394px;
            z-index: 50;
            padding: 5px;
        }

        table, th, td {
            border: 1px solid rgba(60, 60, 60, 0.11);
        }

        .messagepop p, .messagepop.div {
            border-bottom: 1px solid #EFEFEF;
            margin: 8px 0;
            padding-bottom: 8px;
        }
        .lang {
            cursor: pointer
        }
    </style>
</head>
<body id="home" class="wide">
    <!-- PRELOADER -->
    <div id="preloader">
        <div id="preloader-status">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div id="preloader-title">@Session["siteName"] Loading...</div>
        </div>
    </div>
    <!-- /PRELOADER -->
    <!-- WRAPPER -->
    <div class="wrapper">
        <!-- HEADER -->
        <header class="header fixed">
            <div class="header-wrapper">
                <div class="container">
                    <div class="row">
                        <!-- Logo -->
                        <div class="col-md-2">
                            <div class="logo" style="background-color: inherit">
                                <a target="_blank" onclick="window.open('@Model.Sitecontent.WebsiteClickURL')" href=''><img style="width: 212px; height: 74px;" src="@Session["CompanyLogo"]" alt='@Model.Sitecontent.CompanyDisplayName' /></a>
                            </div>
                        </div>
                        <!-- /Logo -->
                        <!-- Mobile menu toggle button -->
                        <a href="#" class="menu-toggle btn ripple-effect btn-theme-transparent"><i class="fa fa-bars"></i></a>
                        <!-- /Mobile menu toggle button -->
                        <!-- Navigation -->
                        <div class="col-md-10">
                            <nav class="navigation closed clearfix">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <!-- navigation menu -->
                                        <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                                        <ul class="nav sf-menu">
                                            <li><a href="#FindACar">@APIInterface.Resources.RentalResource.FindCar</a></li> 
                                            <li><a href="#WhoWeAre">@APIInterface.Resources.RentalResource.WhoweAre</a></li> 
                                            <li><a href="#PickYourCar">@APIInterface.Resources.RentalResource.FindUs</a></li> 
                                            <li><a href="#contact-us">@APIInterface.Resources.RentalResource.ContactUs</a></li>
                                            <li><a href="#contact-us">@APIInterface.Resources.RentalResource.ContactUs</a></li>
                                            @*<li class="lang" id="en"><a >English</a></li>
                                            <li class="lang" id="ar"><a >عربي</a></li>*@
                                            @if (APIInterface.Helper.CultureHelper.GetCurrentNeutralCulture() == "en")
                                            {
                                                <li class="lang" id="en"><a href="#" style="font-weight: 700; color: red;">English</a></li>
                                                <li class="lang" id="ar"><a href="#">عربي</a></li>
                                            }
                                            else
                                            {
                                                <li class="lang" id="en"><a href="#">English</a></li>
                                                <li class="lang" id="ar"><a href="#" style="font-weight: 700; color: red;">عربي</a></li>
                                            }

                                            @*<li style="margin-top: 17px;">
                                                <select class="form-control menu-pos" id="langSeletion">
                                                    @if (APIInterface.Helper.CultureHelper.GetCurrentNeutralCulture() == "en")
                                                    {
                                                        <option selected value="en">Enlish</option>
                                                        <option value="ar">Arabic</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="en">Enlish</option>
                                                        <option selected value="ar">Arabic</option>
                                                    }

                                                </select>
                                            </li>*@
                                        </ul>
                                       
                                        <!-- /navigation menu -->
                                    </div>
                                </div>
                                <!-- Add Scroll Bar -->
                                <div class="swiper-scrollbar"></div>
                            </nav>
                        </div>
                        <!-- /Navigation -->
                    </div>
                </div>
            </div>
        </header>
        <!-- /HEADER -->
        <!-- CONTENT AREA -->
        <div class="content-area">
            @model APIInterface.Models.ResponseModels.HomeModel
            <!-- PAGE -->
            <section id="FindACar" class="page-section no-padding slider">
                <div class="container full-width">
                    <div class="main-slider">
                        <div>
                            <!-- Slide 1 -->
                            <div class="item slide1 ver1" style="background-image: url('@Model.Sitecontent.Banner1')">
                                <div class="caption">
                                    <div class="container">
                                        <div class="div-table">
                                            <div class="div-cell">
                                                <div class="caption-content">
                                                    @if (APIInterface.Helper.CultureHelper.GetCurrentNeutralCulture() == "en")
                                                    {
                                                        <h2 class="caption-title">@Model.Sitecontent.CompanyDisplayName </h2>
                                                    }
                                                    else
                                                    {
                                                       <h2 class="caption-title">@Model.Sitecontent.CompanyDisplayNameAr </h2>

                                                    }
                                                    
                                                    @if (APIInterface.Helper.CultureHelper.GetCurrentNeutralCulture() == "en")
                                                    {
                                                    <h3 class="caption-subtitle">@Model.Sitecontent.Slogan</h3>
                                                    }
                                                    else
                                                    {
                                                   <h3 class="caption-subtitle">@Model.Sitecontent.SloganAr</h3>

                                                    }
                                                    <!-- Search form -->
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-10 col-md-offset-1">
                                                            <div class="form-search dark">
                                                                @using (Html.BeginForm("SelectCar", Session["CompanyShortName"] + "/Rental", FormMethod.Post, new { @class = "form-horizontal  custom-group", role = "form", id = "reservationForm" }))
                                                                {
                                                                    <div class="form-title">
                                                                        <i class="fa fa-globe"></i>
                                                                        <h2>@APIInterface.Resources.RentalResource.SearchforCheap</h2>
                                                                    </div>
                                                                    <div class="row row-inputs">
                                                                        <div class="container-fluid">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group has-icon has-label">
                                                                                    <div class="messagepop pick-up-pop">
                                                                                        <div>
                                                                                            <table style="width: 100%;" id="loc_popup">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th style="text-align: center; font-size: 15px; font-weight: 700;" colspan="2">@APIInterface.Resources.RentalResource.LocationInfo</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td title="@APIInterface.Resources.RentalResource.Locationphone" style="max-width: 51%; width: 50%; padding: 4px;"><i class="fa fa-phone"></i><span id="pickupPopupPhone" style=" margin-left: 5px;"></span></td>
                                                                                                        <td title="@APIInterface.Resources.RentalResource.Locationaddress" style="max-width: 51%; width: 50%; padding: 4px;"><i class="fa fa-home"></i><span id="pickupPopupPopupAddress" style=" margin-left: 5px;"></span></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                            <div class="inner">
                                                                                                <button title="@APIInterface.Resources.RentalResource.ShowMap" style="background-color: #5cb85c; border-color: #5cb85c; width: 32%; margin-top: 7px; font-weight: 600; padding: 8px;" id="showPickUpOnMap" class="btn btn-submit btn-theme pull-right">@APIInterface.Resources.RentalResource.ShowMap</button>
                                                                                                <button id="pick-up-loc-info-close" type="submit" style="width: 18%; margin-top: 7px; font-weight: 600; padding: 8px; margin-right: 5px;" id="showPickUpOnMap" class="btn btn-submit btn-theme pull-left">@APIInterface.Resources.RentalResource.close</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <label class="control-label" for="formSearchUpLocation">@APIInterface.Resources.RentalResource.PickUpLocation</label>
                                                                                    @Html.DropDownListFor(m => m.ReservationForm.PickupLocation, new SelectList(Model.OperationsWorkPlaces, "OperationWorkplaceId", "LocationName", 0), "Select Pick-up location", new { @class = "form-control validateMandatory", style = "width:97.5%" })
                                                                                    <span class="form-control-icon" title="Location info"><i style="font-size: 12px; cursor: pointer; margin-top: 14px; margin-right: 9px; padding: 1px; border-radius: 10px; background-color: rgba(27, 22, 22, 0.77); width: 14px;" class="fa fa-info" id="pick-up-loc-info"></i></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group has-icon has-label">

                                                                                    <label class="control-label" for="formSearchUpDate">@APIInterface.Resources.RentalResource.PickUpDate</label>
                                                                                    @Html.TextBoxFor(m => m.ReservationForm.PickupDateTime, new { @class = "form-control", id = "formSearchUpDate", style = "width:95.5%" })
                                                                                    <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3" style="margin-top: 5px;">
                                                                                <div class="form-group has-icon has-label selectpicker-wrapper">
                                                                                    <label>@APIInterface.Resources.RentalResource.PickingUpHour</label>
                                                                                    <select class="selectpicker input-price" style="max-height: 200px;overflow: auto" id="pickUpForm" data-live-search="true" data-width="100%"
                                                                                            data-toggle="tooltip" title="Select">
                                                                                        @foreach (var hour in @Model.ReservationForm.HoursList)
                                                                                        {
                                                                                            if (hour == "08:00")
                                                                                            {
                                                                                                <option selected="">@hour</option>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <option>@hour</option>
                                                                                            }
                                                                                        }
                                                                                    </select>
                                                                                    <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row row-inputs">
                                                                        <div class="container-fluid">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group has-icon has-label">
                                                                                    <div class="messagepop drop-off-pop">
                                                                                        <div>
                                                                                            <table style="width: 100%;" id="loc_popup">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th style="text-align: center; font-size: 15px; font-weight: 700;" colspan="2">@APIInterface.Resources.RentalResource.LocationInfo</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td title="@APIInterface.Resources.RentalResource.Locationphone" style="max-width: 51%; width: 50%; padding: 4px;"><i class="fa fa-phone"></i><span id="dropOffPopupPhone" style=" margin-left: 5px;"></span></td>
                                                                                                        <td title="@APIInterface.Resources.RentalResource.Locationaddress" style="max-width: 51%; width: 50%; padding: 4px;"><i class="fa fa-home"></i><span id="dropOffPopupAddress" style=" margin-left: 5px;"></span></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                            <div class="inner">
                                                                                                <button title="@APIInterface.Resources.RentalResource.ShowMap" type="submit" style="background-color: #5cb85c; border-color: #5cb85c; width: 32%; margin-top: 7px; font-weight: 600; padding: 8px;" id="showDropOffOnMap" class="btn btn-submit btn-theme pull-right">@APIInterface.Resources.RentalResource.ShowMap</button>
                                                                                                <button id="drop-off-loc-info-close" type="submit" style="width: 18%; margin-top: 7px; font-weight: 600; padding: 8px; margin-right: 5px;" class="btn btn-submit btn-theme pull-left">@APIInterface.Resources.RentalResource.close</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <label class="control-label" for="formSearchOffLocation">@APIInterface.Resources.RentalResource.DropoffLocation</label>
                                                                                    @Html.DropDownListFor(m => m.ReservationForm.DropoffLocation, new SelectList(Model.OperationsWorkPlaces, "OperationWorkplaceId", "LocationName", 1), "Select Drop-off location", new { @class = "form-control validateMandatory", style = "width:97.5%" })
                                                                                    @*<input type="text" class="form-control" id="formSearchUpLocation" placeholder="Airport or Anywhere">*@
                                                                                    <span title="Location info" class="form-control-icon"><i style="font-size: 12px; cursor: pointer; margin-top: 14px; margin-right: 9px; padding: 1px; border-radius: 10px; background-color: rgba(27, 22, 22, 0.77); width: 14px;" class="fa fa-info" id="drop-off-loc-info"></i></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group has-icon has-label">
                                                                                    <label class="control-label" for="formSearchOffDate">@APIInterface.Resources.RentalResource.DropoffDate</label> @*<input type="text" class="form-control" id="formSearchUpDate" placeholder="dd/mm/yyyy">*@
                                                                                    @Html.TextBoxFor(m => m.ReservationForm.DropoffDateTime, new { @class = "form-control", id = "formSearchOffDate", style = "width:95.5%" })<span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3" style="margin-top: 5px;">
                                                                                <div class="form-group has-icon has-label selectpicker-wrapper">
                                                                                    <label>@APIInterface.Resources.RentalResource.DroppingOffHour</label>
                                                                                    <select class="selectpicker input-price" id="dropoffForm" data-live-search="true" data-width="100%"
                                                                                            data-toggle="tooltip" title="Select">
                                                                                        @foreach (var hour in @Model.ReservationForm.HoursList)
                                                                                        {
                                                                                            if (hour == "08:00")
                                                                                            {
                                                                                                <option selected="">@hour</option>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <option>@hour</option>
                                                                                            }
                                                                                        }
                                                                                    </select>
                                                                                    @*<input type="text" class="form-control" />*@
                                                                                    <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row row-submit">
                                                                        <div class="container-fluid">
                                                                            <div class="inner">
                                                                                <button type="submit" style="    margin-bottom: 20px;" id="formSearchSubmit" class="btn btn-submit btn-theme pull-right">@APIInterface.Resources.RentalResource.FindCar</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    @Html.HiddenFor(m => m.ReservationForm.DropoffHours, new { @Value = "00:00", id = "DropoffHours" })
                                                                    @Html.HiddenFor(m => m.ReservationForm.PickupHours, new { @Value = "0:00", id = "PickupHours" })
                                                                    @Html.HiddenFor(m => m.ReservationForm.UtcPicktime, new { @Value = "0:00", id = "UtcPicktime" })
                                                                    @Html.HiddenFor(m => m.ReservationForm.UtcDropTime, new { @Value = "0:00", id = "UtcDropTime" })
                                                                }
                                                                @if (Model.OperationsWorkPlaces != null)
                                                                {
                                                                    foreach (var loc in Model.OperationsWorkPlaces)
                                                                    {
                                                                        @Html.HiddenFor(m => loc, new { @Value = loc.ToastrData, id = loc.OperationWorkplaceId })
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /Search form -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Slide 1 -->
                        </div>
                    </div>
                </div>
            </section>
            

            <!-- /PAGE -->
            <!-- PAGE -->
            <section id="WhoWeAre" class="page-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 wow flipInY" data-wow-offset="70" data-wow-duration="1s">
                            <div class="thumbnail thumbnail-featured no-border no-padding">
                                <div class="media">
                                    <a class="media-link" href="#">
                                        <div class="caption">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <div class="caption-icon"><i class="fa fa-support"></i></div>
                                                    <h4 class="caption-title">@APIInterface.Resources.RentalResource.OurServices</h4>
                                                    <div class="caption-text">
                                                        @if (APIInterface.Helper.CultureHelper.GetCurrentNeutralCulture() == "en")
                                                        {
                                                            @Html.Raw(Model.Sitecontent.ServiceContents)
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(Model.Sitecontent.ServiceContentsAr)
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption hovered">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <div class="caption-icon"><i class="fa fa-support"></i></div>
                                                    <h4 class="caption-title">@APIInterface.Resources.RentalResource.OurServices</h4>
                                                    @if (APIInterface.Helper.CultureHelper.GetCurrentNeutralCulture() == "en")
                                                    {
                                                        <div class="caption-text" style="color:black">@Html.Raw(Model.Sitecontent.ServiceContents.Length > 140 ? Model.Sitecontent.ServiceContents.Substring(0, 140) + "....." : Model.Sitecontent.ServiceContents) </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="caption-text" style="color:black">@Html.Raw(Model.Sitecontent.ServiceContentsAr.Length > 140 ? Model.Sitecontent.ServiceContentsAr.Substring(0, 140) + "....." : Model.Sitecontent.ServiceContentsAr) </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow flipInY" data-wow-offset="70" data-wow-duration="1s" data-wow-delay="200ms">
                            <div class="thumbnail thumbnail-featured no-border no-padding">
                                <div class="media">
                                    <a class="media-link" href="#">
                                        <div class="caption">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <div class="caption-icon"><i class="fa fa-user"></i></div>
                                                    <h4 class="caption-title">@APIInterface.Resources.RentalResource.AboutUs</h4>
                                                    <div class="caption-text">
                                                        @if (APIInterface.Helper.CultureHelper.GetCurrentNeutralCulture() == "en")
                                                        {
                                                            @Html.Raw(Model.Sitecontent.AboutusContents)
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(Model.Sitecontent.AboutusContentsAr)
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption hovered">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <div class="caption-icon"><i class="fa fa-user"></i></div>
                                                    <h4 class="caption-title">@APIInterface.Resources.RentalResource.AboutUs</h4>
                                                    @if (APIInterface.Helper.CultureHelper.GetCurrentNeutralCulture() == "en")
                                                    {
                                                        <div class="caption-text" style="color:black">@Html.Raw(Model.Sitecontent.AboutusContents.Length > 140 ? Model.Sitecontent.AboutusContents.Substring(0, 140) + "....." : Model.Sitecontent.AboutusContents) </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="caption-text" style="color:black">@Html.Raw(Model.Sitecontent.AboutusContentsAr.Length > 140 ? Model.Sitecontent.AboutusContentsAr.Substring(0, 140) + "....." : Model.Sitecontent.AboutusContentsAr) </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /PAGE -->
            <!-- PAGE -->
           
            <!-- /PAGE -->
            
            <!-- PAGE -->
            <section id="PickYourCar" class="page-section no-padding no-bottom-space-off" >
                <div class="container full-width" style="height: 500px">
                    <!-- Google map -->
                    <div class="google-map" >
                        <div id="map-canvas"></div>
                    </div>
                    <!-- /Google map -->
                </div>
            </section>
            <!-- /PAGE -->

            <!-- PAGE -->
            <section id="contact-us" class="page-section contact dark">
                <div class="container">
                    <!-- Get in touch -->
                    <h2 class="section-title wow fadeInDown" data-wow-offset="200" data-wow-delay="100ms">
                        <small>@APIInterface.Resources.RentalResource.FeelFree!</small>
                        <span>@APIInterface.Resources.RentalResource.GetinTouch</span>
                    </h2>
                    <div class="row">
                        <div class="col-md-6 wow fadeInLeft" data-wow-offset="200" data-wow-delay="200ms">
                            <!-- Contact form -->
                           
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="outer required">
                                            <div class="form-group af-inner has-icon">
                                                <label class="sr-only" for="name">@APIInterface.Resources.RentalResource.Name</label>
                                                @Html.TextBoxFor(m => m.EmailModel.SenderName, new {placeholder="Name", @class = "form-control placeholder", id = "name", style = "width:98%" })
                                                <span class="form-control-icon"><i class="fa fa-user"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="outer required">
                                            <div class="form-group af-inner has-icon">
                                                <label class="sr-only" for="email">@APIInterface.Resources.RentalResource.Email</label>
                                                @Html.TextBoxFor(m => m.EmailModel.SenderEmail, new { placeholder = "Email", @class = "form-control placeholder", id = "email", style = "width:96%" })
                                                <span class="form-control-icon"><i class="fa fa-envelope"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="outer required">
                                    <div class="form-group af-inner has-icon">
                                        <label class="sr-only" for="subject">@APIInterface.Resources.RentalResource.Subject</label>
                                        @Html.TextBoxFor(m => m.EmailModel.EmailSubject, new { placeholder = "Subject", @class = "form-control placeholder", id = "subject", style = "width:98%" })


                                        <span class="form-control-icon"><i class="fa fa-bars"></i></span>
                                    </div>
                                </div>
                                <div class="form-group af-inner has-icon">
                                    <label class="sr-only" for="input-message">@APIInterface.Resources.RentalResource.Message</label>
                                    @Html.TextAreaFor(m => m.EmailModel.EmailBody, new { rows="8" ,cols="50",placeholder = "Message", @class = "form-control placeholder", id = "body", style = "width:98%" })

                                    <span class="form-control-icon"><i class="fa fa-bars"></i></span>
                                </div>
                            <div class="outer required">
                                <div class="form-group af-inner">
                                    <input id="contact-form" style="    max-width: 543px;" type="submit" class="form-button form-button-submit btn btn-block btn-theme ripple-effect btn-theme-dark" value="@APIInterface.Resources.RentalResource.SendMessage" />
                                </div>
                            </div>
                            <div class="outer required">
                                <div class="form-group af-inner">
                                    <label class="col-md-1 control-label validationAsterikLabel" id="sendingEmailLabel" style="display: none; width: 95%; color: white">@APIInterface.Resources.RentalResource.Sendingemail</label>
                                </div>
                            </div>
                           
                            <!-- /Contact form -->
                        </div>
                        <div class="col-md-6 wow fadeInRight" data-wow-offset="200" data-wow-delay="200ms">
                            <p>@APIInterface.Resources.RentalResource.Youarealways</p>
                            <ul class="media-list contact-list">
                                <li class="media">
                                    <div class="media-left"><i class="fa fa-home"></i></div>
                                    @if (APIInterface.Helper.CultureHelper.GetCurrentNeutralCulture() == "en")
                                    {
                                    <div class="media-body">@APIInterface.Resources.RentalResource.Adress: @Model.Sitecontent.Address</div>

                                    }
                                    else
                                    {
                                        <div class="media-body">@APIInterface.Resources.RentalResource.Adress: @Model.Sitecontent.AddressAr</div>

                                    }
                                </li>
                               
                                <li class="media">
                                    <div class="media-left"><i class="fa fa-phone"></i></div>
                                    <div class="media-body">@APIInterface.Resources.RentalResource.SupportPhone: @Model.Sitecontent.Telephone</div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><i class="fa fa-envelope"></i></div>
                                    <div class="media-body">@APIInterface.Resources.RentalResource.Email: @Model.Sitecontent.Email</div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><i class="fa fa-clock-o"></i></div>
                                    <div class="media-body">@APIInterface.Resources.RentalResource.WorkingHours</div>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    <!-- /Get in touch -->
                </div>
            </section>
            <!-- /PAGE -->

        </div>
        <!-- /CONTENT AREA -->
        <!-- FOOTER -->
        <footer class="footer">
            <div class="footer-meta">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="btn-row text-center">
                                <a target="_blank" onclick="window.open('@Model.Sitecontent.FBLink')" href='' class=" btn btn-theme ripple-effect btn-icon-left facebook wow fadeindown" data-wow-offset="20" data-wow-delay="100ms"><i class="fa fa-facebook"></i>FACEBOOK</a>
                                <a target="_blank" onclick="window.open('@Model.Sitecontent.TwiterLink')"  href="" class="btn btn-theme btn-icon-left ripple-effect twitter wow fadeInDown" data-wow-offset="20" data-wow-delay="200ms"><i class="fa fa-twitter"></i>TWITTER</a>
                            </p>
                                @if (APIInterface.Helper.CultureHelper.GetCurrentNeutralCulture() == "en")
                                {
                                    <div class="copyright">&copy; 2015 @Model.Sitecontent.CompanyDisplayName &nbsp;|&nbsp; @Model.Sitecontent.Address .</div>
                                }
                                else
                                {
                                    <div class="copyright">&copy; 2015 @Model.Sitecontent.CompanyDisplayNameAr &nbsp;|&nbsp; @Model.Sitecontent.AddressAr .</div> 
                                }
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var loc in Model.OperationsWorkPlaces)
            {
                <input type="hidden" class="loc" value="@loc.RawString" id='loc_+@loc.OperationWorkplaceId' />
                <input type="hidden" class="cor"value="@loc.CoordinatesContents" id='cor_+@loc.OperationWorkplaceId' />
            }
            @if (Model.OperationsWorkPlaces != null)
            {
                <input type="hidden" value="@Model.OperationsWorkPlaces.Count()" id="locationCount" />
            }
        </footer>
        <!-- /FOOTER -->
        <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>
    </div>
    <!-- /WRAPPER -->
    <!-- JS Global -->
    <script src="~/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/assets/plugins/superfish/js/superfish.min.js"></script>
    <script src="~/assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
    @*<script src="~/assets/plugins/owl-carousel2/owl.carousel.min.js"></script>*@
    <script src="~/assets/plugins/jquery.sticky.min.js"></script>
    <script src="~/assets/plugins/jquery.easing.min.js"></script>
    <script src="~/Scripts/_jquery.blockUI.js"></script>

    <script src="~/assets/plugins/jquery.smoothscroll.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/assets/js/googleMapApisMapper.js"></script>   <!--Baqer added this-->
    <script src="~/Scripts/ISTUtility.js"></script>  <!--Baqer added this-->
    <script src="~/Scripts/moment.js"></script> <!--Baqer added this-->

    <script>
        // WOW - animated content
        //new WOW().init();
        </script>
    <script src="~/assets/plugins/swiper/js/swiper.jquery.min.js"></script>
    <script src="~/assets/plugins/datetimepicker/js/moment-with-locales.min.js"></script>
    <script src="~/assets/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript">
        IdontKnow();
    </script>
    <script src="~/assets/js/theme-ajax-mail.js"></script>
    <script src="~/assets/js/theme.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

    <script>
        var pickLong=null;
        var pickLat=null;
        var dropLong=null;
        var dropLat=null;
        $(document).ready(function () {
            
            $("#formSearchUpDate").val(moment().format("MM/DD/YYYY"));
            $("#formSearchOffDate").val(moment().add("days", 1).format("MM/DD/YYYY"));


            $(".lang").click(function () {
                var lang = $(this).attr('id');
                window.location.href = "Rental/ChangeCulture?lang=" + lang;
            });


            $("#ReservationForm_PickupLocation").change(function() {
                var id = $(this).val(); // id of location selected
                var locHiddenContents= $("#" + id).val(); // phone, address, lon,lat
                var contents = locHiddenContents.split("#");
                $("#pickupPopupPhone").text(contents[0]);
                $("#pickupPopupPopupAddress").text(contents[1]);
                pickLong = contents[2];
                pickLat = contents[3];
            });
            $("#ReservationForm_DropoffLocation").change(function () {
                var id = $(this).val(); // id of location selected
                var locHiddenContents = $("#" + id).val(); // phone, address, lon,lat
                var contents = locHiddenContents.split("#");
                $("#dropOffPopupPhone").text(contents[0]);
                $("#dropOffPopupAddress").text(contents[1]);
                dropLong = contents[2];
                dropLat = contents[3];
            });
            $("#reservationForm").submit(function () {
                // ISTUtility.js
                return  ValidateReservationForm();
            });
            
            // google map co-oridnates intialization
            InitializeMap();

            $("#contact-form").click(function () {
                SendEmailToUser();
                // ISTUtility.js
            });
            

            // pickup
            function deselectPickup(e) {
                $('.pick-up-pop').slideFadeToggle(function () {
                    e.removeClass('selected');
                });
            }

            $(function () {
                $('#pick-up-loc-info').on('click', function () {
                    if ($("#ReservationForm_PickupLocation").val() == "") // not selected Yet
                    {
                        toastr.info("Select pick-up location first to see details!");
                        return false;
                    }
                    
                    if ($(this).hasClass('selected')) {
                        deselectPickup($(this));
                    } else {
                        $(this).addClass('selected');
                        $('.pick-up-pop').slideFadeToggle();
                    }
                    return false;
                });
               
                $('#pick-up-loc-info-close').on('click', function () {
                    deselectPickup($('#pick-up-loc-info'));
                    return false;
                });

            });
           


            // drop-off
            function deselectDropOff(e) {
                $('.drop-off-pop').slideFadeToggle(function () {
                    e.removeClass('selected');
                });
            }

            $(function () {
                $('#drop-off-loc-info').on('click', function () {
                    if ($("#ReservationForm_DropoffLocation").val() == "") // not selected Yet
                    {
                        toastr.info("Select drop-off location first to see details!");
                        return false;
                    }
                    if ($(this).hasClass('selected')) {
                        deselectDropOff($(this));
                    } else {
                        $(this).addClass('selected');
                        $('.drop-off-pop').slideFadeToggle();
                    }
                    return false;
                });

                $('#drop-off-loc-info-close').on('click', function () {
                    deselectDropOff($('#drop-off-loc-info'));
                    return false;
                });
                
            });
           

            $.fn.slideFadeToggle = function (easing, callback) {
                return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
            };

            $("#showPickUpOnMap").click(function () {
                if (pickLat == null || pickLat == undefined || pickLat == "") {
                    toastr.info("Map is not ready yet!");
                    return false;
                }
                window.open('http://maps.google.com/?q=' + pickLat + ',' + pickLong);
                return false;
            });

            $("#showDropOffOnMap").click(function () {
                if (dropLat == null || dropLat == undefined || dropLat == "") {
                    toastr.info("Map is not ready yet!");
                    return false;
                }
                window.open('http://maps.google.com/?q=' + dropLat + ',' + dropLong);
                return false;
            });
        });
    </script>
</body>
</html>