
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Session["siteName"] - @Session["siteTitle"]</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="~/assets/ico/favicon.ico">
    <!-- CSS Global -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/assets/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/assets/plugins/animate/animate.min.css" rel="stylesheet">
    <link href="~/assets/plugins/swiper/css/swiper.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="~/assets/css/theme.css" rel="stylesheet">
    <!-- Head Libs -->
    <script src="~/assets/plugins/modernizr.custom.js"></script>
    <!--[if lt IE 9]>
    <script src="~/assets/plugins/iesupport/html5shiv.js"></script>
    <script src="~/assets/plugins/iesupport/respond.min.js"></script>
    <![endif]-->
    <style>
        option {
            background-color: rgb(81, 79, 87);
        }
    </style>
</head>
<body id="home" class="wide">
    <!-- PRELOADER -->
    <div id="preloader">
        <div id="preloader-status">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div id="preloader-title">@Session["siteName"] Loading...</div>
        </div>
    </div>
    <!-- /PRELOADER -->
    <!-- WRAPPER -->
    <div class="wrapper">
        <!-- HEADER -->
        <header class="header fixed">
            <div class="header-wrapper">
                <div class="container">
                    <div class="row">
                        <!-- Logo -->
                        <div class="col-md-2">
                            <div class="logo">
                                <a target="_blank" onclick="window.open('@Model.Sitecontent.WebsiteClickURL')" href=''><img src="~/assets/img/logo-rentit.png" alt='@Model.Sitecontent.CompanyDisplayName' /></a>
                            </div>
                        </div>
                        <!-- /Logo -->
                        <!-- Mobile menu toggle button -->
                        <a href="#" class="menu-toggle btn ripple-effect btn-theme-transparent"><i class="fa fa-bars"></i></a>
                        <!-- /Mobile menu toggle button -->
                        <!-- Navigation -->
                        <div class="col-md-10">
                            <nav class="navigation closed clearfix">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <!-- navigation menu -->
                                        <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                                        <ul class="nav sf-menu">
                                            <li><a href="#FindACar">Find a Car</a></li> 
                                            <li><a href="#WhoWeAre">Who we Are?</a></li> 
                                            <li><a href="#PickYourCar">Pick your Car</a></li> 
                                            <li><a href="#contact-us">Contact Us</a></li>
                                        </ul>
                                        <!-- /navigation menu -->
                                    </div>
                                </div>
                                <!-- Add Scroll Bar -->
                                <div class="swiper-scrollbar"></div>
                            </nav>
                        </div>
                        <!-- /Navigation -->
                    </div>
                </div>
            </div>
        </header>
        <!-- /HEADER -->
        <!-- CONTENT AREA -->
        <div class="content-area">
            @model APIInterface.Models.ResponseModels.HomeModel
            <!-- PAGE -->
            <section id="FindACar" class="page-section no-padding slider">
                <div class="container full-width">
                    <div class="main-slider">
                        <div class="owl-carousel" id="main-slider">
                            <!-- Slide 1 -->
                            <div class="item slide1 ver1" >
                                <div class="caption">
                                    <div class="container">
                                        <div class="div-table">
                                            <div class="div-cell">
                                                <div class="caption-content">
                                                    <h2 class="caption-title">@Session["siteName"] </h2>
                                                    <h3 class="caption-subtitle">Find Best Rental Car</h3>
                                                    <!-- Search form -->
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-10 col-md-offset-1">
                                                            <div class="form-search dark">
                                                                @using (Html.BeginForm("SelectCar", "best/Rental", FormMethod.Post, new { @class = "form-horizontal  custom-group", role = "form" }))
                                                                {
                                                                    <div class="form-title">
                                                                        <i class="fa fa-globe"></i>
                                                                        <h2>Search for Cheap Rental Cars Wherever Your Are</h2>
                                                                    </div>
                                                                    <div class="row row-inputs">
                                                                        <div class="container-fluid">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group has-icon has-label">
                                                                                    @Html.LabelFor(m => m.ReservationForm.PickupLocation, new { @class = "control-label", @for = "formSearchUpLocation" })
                                                                                    @Html.DropDownListFor(m => m.ReservationForm.PickupLocation, new SelectList(Model.OperationsWorkPlaces, "OperationWorkplaceId", "LocationName", 0), "Select Pick-up location", new { @class = "form-control", style="width:97.5%"})
                                                                                    <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group has-icon has-label">
                                                                                    @Html.LabelFor(m => m.ReservationForm.PickupDateTime, new { @class = "control-label", @for = "formSearchUpDate" })
                                                                                    @Html.TextBoxFor(m => m.ReservationForm.PickupDateTime, new { @class = "form-control", id = "formSearchUpDate", style = "width:95.5%" })
                                                                                    <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3" style="margin-top: 5px;">
                                                                                <div class="form-group has-icon has-label selectpicker-wrapper">
                                                                                    <label>Picking Up Hour</label>
                                                                                    <select class="selectpicker input-price" data-live-search="true" data-width="100%"
                                                                                            data-toggle="tooltip" title="Select">


                                                                                        <option>20:00</option>
                                                                                        <option>20:30</option>
                                                                                        <option>21:00</option>
                                                                                        <option>21:30</option>
                                                                                        <option>22:00</option>
                                                                                        <option>22:30</option>
                                                                                        <option>23:00</option>
                                                                                        <option>23:30</option>
                                                                                        <option>00:00</option>
                                                                                        <option>20:00</option>
                                                                                        <option>20:30</option>
                                                                                        <option>21:00</option>
                                                                                        <option>21:30</option>
                                                                                        <option>22:00</option>
                                                                                        <option>22:30</option>
                                                                                        <option>23:00</option>
                                                                                        <option>23:30</option>
                                                                                        <option>00:00</option>

                                                                                    </select>
                                                                                    <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row row-inputs">
                                                                        <div class="container-fluid">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group has-icon has-label">
                                                                                    @Html.LabelFor(m => m.ReservationForm.DropoffLocation, new { @class = "control-label", @for = "formSearchOffLocation" })
                                                                                    @Html.DropDownListFor(m => m.ReservationForm.DropoffLocation, new SelectList(Model.OperationsWorkPlaces, "OperationWorkplaceId", "LocationName", 1), "Select Drop-off location", new { @class = "form-control", style = "width:97.5%" })
                                                                                    @*<input type="text" class="form-control" id="formSearchUpLocation" placeholder="Airport or Anywhere">*@
                                                                                    <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                                <div class="form-group has-icon has-label">
                                                                                    @Html.LabelFor(m => m.ReservationForm.DropoffDateTime, new { @class = "control-label", @for = "formSearchOffDate" })
                                                                                    @*<input type="text" class="form-control" id="formSearchUpDate" placeholder="dd/mm/yyyy">*@
                                                                                    @Html.TextBoxFor(m => m.ReservationForm.DropoffDateTime, new { @class = "form-control", id = "formSearchOffDate", style = "width:95.5%" })
                                                                                    <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-3" style="margin-top: 5px;">
                                                                                <div class="form-group has-icon has-label selectpicker-wrapper">
                                                                                    <label>Dropping Off Hour</label>
                                                                                    <select class="selectpicker input-price" data-live-search="true" data-width="100%"
                                                                                            data-toggle="tooltip" title="Select">
                                                                                        
                                                                                      
                                                                                            <option>20:00</option>
                                                                                            <option>20:30</option>
                                                                                            <option>21:00</option>
                                                                                            <option>21:30</option>
                                                                                            <option>22:00</option>
                                                                                            <option>22:30</option>
                                                                                            <option>23:00</option>
                                                                                            <option>23:30</option>
                                                                                            <option>00:00</option>
                                                                                            <option>20:00</option>
                                                                                            <option>20:30</option>
                                                                                            <option>21:00</option>
                                                                                            <option>21:30</option>
                                                                                            <option>22:00</option>
                                                                                            <option>22:30</option>
                                                                                            <option>23:00</option>
                                                                                            <option>23:30</option>
                                                                                            <option>00:00</option>
                                                                                        
                                                                                    </select>
                                                                                    @*<input type="text" class="form-control" />*@
                                                                                    <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row row-submit">
                                                                        <div class="container-fluid">
                                                                            <div class="inner">
                                                                                <button type="submit" id="formSearchSubmit" class="btn btn-submit btn-theme pull-right">Find Car</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /Search form -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Slide 1 -->
                            <!-- Slide 2 -->
                            <div class="item slide2 ver2">
                                <div class="caption">
                                    <div class="container">
                                        <div class="div-table">
                                            <div class="div-cell">
                                                <div class="caption-content">
                                                    <!-- Search form -->
                                                    <div class="form-search light">
                                                    @using (Html.BeginForm("SelectCar", "best/Rental", FormMethod.Post, new {@class = "form-horizontal  custom-group", role = "form"}))
                                                    {
                                                        <div class="form-title">
                                                            <i class="fa fa-globe"></i>
                                                            <h2>Search for Cheap Rental Cars Wherever Your Are</h2>
                                                        </div>
                                                        <div class="row row-inputs">
                                                            <div class="container-fluid">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group has-icon has-label">
                                                                        <label for="formSearchUpLocation2">Picking Up Location</label>
                                                                        <input type="text" class="form-control" id="formSearchUpLocation2" placeholder="Airport or Anywhere">
                                                                        <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="form-group has-icon has-label">
                                                                        <label for="formSearchOffLocation2">Dropping Off Location</label>
                                                                        <input type="text" class="form-control" id="formSearchOffLocation2" placeholder="Airport or Anywhere">
                                                                        <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-inputs">
                                                            <div class="container-fluid">
                                                                <div class="col-sm-7">
                                                                    <div class="form-group has-icon has-label">
                                                                        <label for="formSearchUpDate2">Picking Up Date</label>
                                                                        <input type="text" class="form-control" id="formSearchUpDate2" placeholder="dd/mm/yyyy">
                                                                        <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <div class="form-group has-icon has-label selectpicker-wrapper">
                                                                        <label>Picking Up Hour</label>
                                                                        <select class="selectpicker input-price" data-live-search="true" data-width="100%"
                                                                                data-toggle="tooltip" title="Select">
                                                                            <option>20:00 AM</option>
                                                                            <option>21:00 AM</option>
                                                                            <option>22:00 AM</option>
                                                                        </select>
                                                                        <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-inputs">
                                                            <div class="container-fluid">
                                                                <div class="col-sm-7">
                                                                    <div class="form-group has-icon has-label">
                                                                        <label for="formSearchOffDate2">Dropping Off Date</label>
                                                                        <input type="text" class="form-control" id="formSearchOffDate2" placeholder="dd/mm/yyyy">
                                                                        <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <div class="form-group has-icon has-label selectpicker-wrapper">
                                                                        <label>Dropping Off Hour</label>
                                                                        <select class="selectpicker input-price" data-live-search="true" data-width="100%"
                                                                                data-toggle="tooltip" title="Select">
                                                                            <option>20:00 AM</option>
                                                                            <option>21:00 AM</option>
                                                                            <option>22:00 AM</option>
                                                                        </select>
                                                                        <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-submit">
                                                            <div class="container-fluid">
                                                                <div class="inner">
                                                                    <i class="fa fa-plus-circle"></i> <a href="#">Advanced Search</a>
                                                                    <button type="submit" id="formSearchSubmit2" class="btn btn-submit btn-theme ripple-effect pull-right">Find Car</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    </div>
                                                    <!-- /Search form -->
                                                    <h2 class="caption-subtitle">Find Your Car!<br /> Rent A Car Theme</h2>
                                                    <p class="caption-text">
                                                        Vivamus in est sit amet risus rutrum facilisis sed ut mauris. Aenean aliquam ex ut sem aliquet, eget vestibulum erat pharetra. Maecenas vel urna nulla. Mauris non risus pulvinar.
                                                    </p>
                                                    <p class="caption-text">
                                                        <a class="btn btn-theme ripple-effect btn-theme-md" href="#">See All Vehicles</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Slide 2 -->
                            <!-- Slide 3 -->
                            <div class="item slide3 ver3">
                                <div class="caption">
                                    <div class="container">
                                        <div class="div-table">
                                            <div class="div-cell">
                                                <div class="caption-content">
                                                    <!-- Search form -->
                                                    <div class="form-search light">
                                                        <form action="#">
                                                            <div class="form-title">
                                                                <i class="fa fa-globe"></i>
                                                                <h2>Search for Cheap Rental Cars Wherever Your Are</h2>
                                                            </div>
                                                            <div class="row row-inputs">
                                                                <div class="container-fluid">
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group has-icon has-label">
                                                                            <label for="formSearchUpLocation3">Picking Up Location</label>
                                                                            <input type="text" class="form-control" id="formSearchUpLocation3" placeholder="Airport or Anywhere">
                                                                            <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group has-icon has-label">
                                                                            <label for="formSearchOffLocation3">Dropping Off Location</label>
                                                                            <input type="text" class="form-control" id="formSearchOffLocation3" placeholder="Airport or Anywhere">
                                                                            <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-inputs">
                                                                <div class="container-fluid">
                                                                    <div class="col-sm-7">
                                                                        <div class="form-group has-icon has-label">
                                                                            <label for="formSearchUpDate3">Picking Up Date</label>
                                                                            <input type="text" class="form-control" id="formSearchUpDate3" placeholder="dd/mm/yyyy">
                                                                            <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-5">
                                                                        <div class="form-group has-icon has-label selectpicker-wrapper">
                                                                            <label>Picking Up Hour</label>
                                                                            <select class="selectpicker input-price" data-live-search="true" data-width="100%"
                                                                                    data-toggle="tooltip" title="Select">
                                                                                <option>20:00 AM</option>
                                                                                <option>21:00 AM</option>
                                                                                <option>22:00 AM</option>
                                                                            </select>
                                                                            <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-inputs">
                                                                <div class="container-fluid">
                                                                    <div class="col-sm-7">
                                                                        <div class="form-group has-icon has-label">
                                                                            <label for="formSearchOffDate3">Dropping Off Date</label>
                                                                            <input type="text" class="form-control" id="formSearchOffDate3" placeholder="dd/mm/yyyy">
                                                                            <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-5">
                                                                        <div class="form-group has-icon has-label selectpicker-wrapper">
                                                                            <label>Dropping Off Hour</label>
                                                                            <select class="selectpicker input-price" data-live-search="true" data-width="100%"
                                                                                    data-toggle="tooltip" title="Select">
                                                                                <option>20:00 AM</option>
                                                                                <option>21:00 AM</option>
                                                                                <option>22:00 AM</option>
                                                                            </select>
                                                                            <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-submit">
                                                                <div class="container-fluid">
                                                                    <div class="inner">
                                                                        <i class="fa fa-plus-circle"></i> <a href="#">Advanced Search</a>
                                                                        <button type="submit" id="formSearchSubmit3" class="btn btn-submit ripple-effect btn-theme pull-right">Find Car</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- /Search form -->
                                                    <h2 class="caption-title">For rental Cars</h2>
                                                    <h3 class="caption-subtitle">Best Deals</h3>
                                                    <p class="caption-text">
                                                        Sales Up  %45 Off<br />
                                                        All Rental Cars Start from  49$
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Slide 3 -->
                            <!-- Slide 4 -->
                            <div class="item slide4 ver4">
                                <div class="caption">
                                    <div class="container">
                                        <div class="div-table">
                                            <div class="div-cell">
                                                <div class="caption-content">
                                                    <h2 class="caption-title">For rental Cars</h2>
                                                    <h3 class="caption-subtitle"><span>Best Deals</span></h3>
                                                    <p class="caption-text">
                                                        Sales Up  %45 Off<br />
                                                        All Rental Cars Start from  49$
                                                    </p>
                                                    <p class="caption-text">
                                                        <a class="btn btn-theme ripple-effect btn-theme-md" href="#">See All Vehicles</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Slide 4 -->
                        </div>
                    </div>
                </div>
            </section>

            <!-- /PAGE -->
            <!-- PAGE -->
            <section id="WhoWeAre" class="page-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 wow flipInY" data-wow-offset="70" data-wow-duration="1s">
                            <div class="thumbnail thumbnail-featured no-border no-padding">
                                <div class="media">
                                    <a class="media-link" href="#">
                                        <div class="caption">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <div class="caption-icon"><i class="fa fa-support"></i></div>
                                                    <h4 class="caption-title">Our Services</h4>
                                                    <div class="caption-text">@Model.Sitecontent.ServiceContents</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption hovered">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <div class="caption-icon"><i class="fa fa-support"></i></div>
                                                    <h4 class="caption-title">Our Services</h4>
                                                    <div class="caption-text" style="color:black">@(Model.Sitecontent.ServiceContents.Length > 140 ? Model.Sitecontent.ServiceContents.Substring(0, 140) + "....." : Model.Sitecontent.ServiceContents) </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow flipInY" data-wow-offset="70" data-wow-duration="1s" data-wow-delay="200ms">
                            <div class="thumbnail thumbnail-featured no-border no-padding">
                                <div class="media">
                                    <a class="media-link" href="#">
                                        <div class="caption">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <div class="caption-icon"><i class="fa fa-user"></i></div>
                                                    <h4 class="caption-title">About Us</h4>
                                                    <div class="caption-text">@Model.Sitecontent.AboutusContents</div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption hovered">
                                            <div class="caption-wrapper div-table">
                                                <div class="caption-inner div-cell">
                                                    <div class="caption-icon"><i class="fa fa-user"></i></div>
                                                    <h4 class="caption-title">About Us</h4>
                                                    <div class="caption-text" style="color:black">@(Model.Sitecontent.AboutusContents.Length > 140 ? Model.Sitecontent.AboutusContents.Substring(0, 140) + "....." : Model.Sitecontent.AboutusContents) </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /PAGE -->
            <!-- PAGE -->
            @*<section id="find-car-new" class="page-section find-car dark">
                <div class="container">
                    <form action="#" class="form-find-car">
                        <div class="row">
                            <div class="col-md-3 wow fadeInDown" data-wow-offset="200" data-wow-delay="100ms">
                                <h2 class="section-title text-left no-margin">
                                    <small>Great Rental Cars</small>
                                    <span>Find your car</span>
                                </h2>
                            </div>
                            <div class="col-md-3 wow fadeInDown" data-wow-offset="200" data-wow-delay="200ms">
                                <div class="form-group has-icon has-label">
                                    <label for="formFindCarLocation">Picking Up Location</label>
                                    <input type="text" class="form-control" id="formFindCarLocation" placeholder="Airport or Anywhere">
                                    <span class="form-control-icon"><i class="fa fa-location-arrow"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2 wow fadeInDown" data-wow-offset="200" data-wow-delay="300ms">
                                <div class="form-group has-icon has-label">
                                    <label for="formFindCarDate">Picking Up Date</label>
                                    <input type="text" class="form-control" id="formFindCarDate" placeholder="dd/mm/yyyy">
                                    <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2 wow fadeInDown" data-wow-offset="200" data-wow-delay="400ms">
                                <div class="form-group has-icon has-label">
                                    <label for="formFindCarCategory">Price Category</label>
                                    <input type="text" class="form-control" id="formFindCarCategory" placeholder="Select Car Group">
                                    <span class="form-control-icon"><i class="fa fa-bars"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2 wow fadeInDown" data-wow-offset="200" data-wow-delay="500ms">
                                <div class="form-group">
                                    <button type="submit" id="formFindCarSubmit" class="btn btn-block btn-submit ripple-effect btn-theme">Find Car</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>*@
            <!-- /PAGE -->
            
            <!-- PAGE -->
            <section id="PickYourCar" class="page-section no-padding no-bottom-space-off">
                <div class="container full-width">
                    <!-- Google map -->
                    <div class="google-map">
                        <div id="map-canvas"></div>
                    </div>
                    <!-- /Google map -->
                </div>
            </section>
            <!-- /PAGE -->

            <!-- PAGE -->
            <section id="contact-us" class="page-section contact dark">
                <div class="container">
                    <!-- Get in touch -->
                    <h2 class="section-title wow fadeInDown" data-wow-offset="200" data-wow-delay="100ms">
                        <small>Feel Free to Say Hello!</small>
                        <span>Get in Touch With Us</span>
                    </h2>
                    <div class="row">
                        <div class="col-md-6 wow fadeInLeft" data-wow-offset="200" data-wow-delay="200ms">
                            <!-- Contact form -->
                            <form name="contact-form" method="post" action="#" class="contact-form" id="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="outer required">
                                            <div class="form-group af-inner has-icon">
                                                <label class="sr-only" for="name">Name</label>
                                                <input type="text" name="name" id="name" placeholder="Name" value="" size="30"
                                                       data-toggle="tooltip" title="Name is required"
                                                       class="form-control placeholder" />
                                                <span class="form-control-icon"><i class="fa fa-user"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="outer required">
                                            <div class="form-group af-inner has-icon">
                                                <label class="sr-only" for="email">Email</label>
                                                <input type="text" name="email" id="email" placeholder="Email" value="" size="30"
                                                       data-toggle="tooltip" title="Email is required"
                                                       class="form-control placeholder" />
                                                <span class="form-control-icon"><i class="fa fa-envelope"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="outer required">
                                    <div class="form-group af-inner has-icon">
                                        <label class="sr-only" for="subject">Subject</label>
                                        <input type="text" name="subject" id="subject" placeholder="Subject" value="" size="30"
                                               data-toggle="tooltip" title="Subject is required"
                                               class="form-control placeholder" />
                                        <span class="form-control-icon"><i class="fa fa-bars"></i></span>
                                    </div>
                                </div>
                                <div class="form-group af-inner has-icon">
                                    <label class="sr-only" for="input-message">Message</label>
                                    <textarea name="message" id="input-message" placeholder="Message" rows="4" cols="50"
                                              data-toggle="tooltip" title="Message is required"
                                              class="form-control placeholder"></textarea>
                                    <span class="form-control-icon"><i class="fa fa-bars"></i></span>
                                </div>
                                <div class="outer required">
                                    <div class="form-group af-inner">
                                        <input type="submit" name="submit" class="form-button form-button-submit btn btn-block btn-theme ripple-effect btn-theme-dark" id="submit_btn" value="Send message" />
                                    </div>
                                </div>
                            </form>
                            <!-- /Contact form -->
                        </div>
                        <div class="col-md-6 wow fadeInRight" data-wow-offset="200" data-wow-delay="200ms">
                            <p>You are always welcome to Contact us at the following.</p>
                            <ul class="media-list contact-list">
                                <li class="media">
                                    <div class="media-left"><i class="fa fa-home"></i></div>
                                    <div class="media-body">Adress: @Model.Sitecontent.Address</div>
                                </li>
                               
                                <li class="media">
                                    <div class="media-left"><i class="fa fa-phone"></i></div>
                                    <div class="media-body">Support Phone: @Model.Sitecontent.Telephone</div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><i class="fa fa-envelope"></i></div>
                                    <div class="media-body">E mails: @Model.Sitecontent.Email</div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><i class="fa fa-clock-o"></i></div>
                                    <div class="media-body">Working Hours: 09:30 - 21:00 except on Sundays</div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><i class="fa fa-map-marker"></i></div>
                                    <div class="media-body">View on The Map</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Get in touch -->
                </div>
            </section>
            <!-- /PAGE -->

        </div>
        <!-- /CONTENT AREA -->
        <!-- FOOTER -->
        <footer class="footer">
            <div class="footer-meta">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="btn-row text-center">
                                <a target="_blank" onclick="window.open('@Model.Sitecontent.FBLink')" href='' class=" btn btn-theme ripple-effect btn-icon-left facebook wow fadeindown" data-wow-offset="20" data-wow-delay="100ms"><i class="fa fa-facebook"></i>FACEBOOK</a>
                                <a target="_blank" onclick="window.open('@Model.Sitecontent.TwiterLink')"  href="" class="btn btn-theme btn-icon-left ripple-effect twitter wow fadeInDown" data-wow-offset="20" data-wow-delay="200ms"><i class="fa fa-twitter"></i>TWITTER</a>
                            </p>
                            <div class="copyright">&copy; 2015 @Model.Sitecontent.CompanyDisplayName &nbsp;|&nbsp; @Model.Sitecontent.Address .</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /FOOTER -->
        <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>
    </div>
    <!-- /WRAPPER -->
    <!-- JS Global -->
    <script src="~/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/assets/plugins/superfish/js/superfish.min.js"></script>
    <script src="~/assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script src="~/assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
    <script src="~/assets/plugins/jquery.sticky.min.js"></script>
    <script src="~/assets/plugins/jquery.easing.min.js"></script>
    <script src="~/assets/plugins/jquery.smoothscroll.min.js"></script>
    <!--<script src="~/assets/plugins/smooth-scrollbar.min.js"></script>-->
    <!--<script src="~/assets/plugins/wow/wow.min.js"></script>-->
    <script>
        // WOW - animated content
        //new WOW().init();
    </script>
    <script src="~/assets/plugins/swiper/js/swiper.jquery.min.js"></script>
    <script src="~/assets/plugins/datetimepicker/js/moment-with-locales.min.js"></script>
    <script src="~/assets/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript">
        jQuery(window).load(function () { jQuery('body').scrollspy({ offset: 100, target: '.navigation' }); });
        jQuery(window).load(function () { jQuery('body').scrollspy('refresh'); });
        jQuery(window).resize(function () { jQuery('body').scrollspy('refresh'); });
        jQuery(window).load(function () {
            if (location.hash != '') {
                var hash = '#' + window.location.hash.substr(1);
                if (hash.length) {
                    jQuery('html,body').delay(0).animate({
                        scrollTop: jQuery(hash).offset().top - 44 + 'px'
                    }, {
                        duration: 1200,
                        easing: "easeInOutExpo"
                    });
                }
            }
        });
    </script>
    <script src="~/assets/js/theme-ajax-mail.js"></script>
    <script src="~/assets/js/theme.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script>
        $(document).ready(function () {
        });
    </script>
</body>
</html>