@using APIInterface.Models.ResponseModels
@{
    ViewBag.Title = "SelectCar";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>@Session["siteName"] | Extras</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/images/favicon.ico" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/jquery.slider.min.css" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

    <!--[if IE]>
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <link rel="stylesheet" id="stylesheet-ie" href="css/css_ie.css" type="text/css" media="all" />
    <![endif]-->
</head>
<body class="page page-two-column">
    <div id="conteiner">
        <div id="branding">
            <div id="branding-content">
                <div class="title-content">
                    <a title=""><img style="width: 128px" class="site-logo" src="@Session["CompanyLogo"]" alt="" /></a>
                    <h1 style=" width: 200%;margin-left: 65px" class="site-title"><a title="">@Session["siteName"]</a></h1>
                </div>
                <div class="access-content">

                </div><!-- .access -->
                <div class="menus-content">
                    <div class="menus">
                        <div class="language">
                            <select class="select" name="select_language">
                                <option>English</option>
                                <option selected="selected">Arabic</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div><!-- #branding-content -->
            <div class="clear"></div>
        </div><!-- #branding -->
        <div id="progress-bar">
            <div id="progress-bar-steps">
                <div class="progress-bar-step done">
                    <div class="step_number">1</div>
                    <div class="step_name">Create request</div>
                </div>
                <div class="progress-bar-step done">
                    <div class="step_number">2</div>
                    <div class="step_name">Choose a car</div>
                </div>
                <div class="progress-bar-step current">
                    <div class="step_number">3</div>
                    <div class="step_name">Choose extras</div>
                </div>
                <div class="progress-bar-step last">
                    <div class="step_number">4</div>
                    <div class="step_name">Review &amp; Book</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="main">
            <form class="main-form">
                <div id="book_car" class="title-form current">
                    @*<img src="~/Images/images/search.png" alt="" />*@
                    @*Search for a car:*@
                </div>
                <div id="book_car_content" class="content-form ">
                    <div class="location-block">
                        <div class="form-block location">Pick-up Location</div>
                        <input class="location" disabled type="text" value='@Session["pickupName"]' placeholder="Enter airport, city or zip code" name="location" />
                        <a href='@Url.Action("Index", Session["CompanyShortName"] + "/Rental/Index")'> Update Reservation Date/Time</a>

                    </div>
                    <div class="form-block pick-up" style=" margin-left: 18px; width: 172px;">
                        <h4>Pick-up date</h4>
                        <input class="datepicker" disabled type="text" style="margin-bottom: 12px; width: 70%" name="data_from" value='@Session["pickupDate"]' />
                        <span style=""><span style="font-weight: 800;">Duration:</span> @Session["period"] </span>
                    </div>
                    <div class="form-block drop-off" style=" margin-left: 8px;">
                        <h4 style=" height: 18px;">Drop-off Location</h4>
                        <input class="location" style="    padding-top: 0px;height: 41px;" disabled type="text" value='@Session["dropoffName"]' placeholder="Enter airport, city or zip code" name="return_location" />
                        @*<input class="time-select" type="text" size="5"  name="time_to" />*@
                    </div>
                    <div class="form-block drop-off" style=" margin-left: 29px; width: 171px;">
                        <h4>Drop-off date</h4>
                        <input disabled class="datepicker" type="text" style="width: 70%" value='@Session["dropoffDate"]' name="data_to" value="" />
                        @*<input class="time-select" type="text" size="5"  name="time_to" />*@
                    </div>

                </div>
                <div class="clear"></div>
            </form>
            <div id="primary">
                <div class="clear"></div>
                <aside id="secondary" class="sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">
                            <img src="~/Images/images/order_info.png" alt="" />
                            Order Info
                        </h3>
                        <h4>
                            Car

                        </h4>
                        <div class="widget-content main-block product-widget-mini">
                            <div class="product-img">
                                <img style="width: 105px;height: 55px" src="@Session["vehicleimgurl"]" alt="" />
                            </div>
                            @{
                                var hireGroup = (WebApiHireGroupDetailResponse)HttpContext.Current.Session["selectedHireGroupDetail"];
                            }
                            <div class="product-info">
                                <div class="entry-format">
                                    <div>@hireGroup.HireGroup</div>
                                    <span>@hireGroup.VehicleCategory</span>
                                </div>
                                <div class="features">
                                    <span style=" padding-right: 16px; word-break: break-word; width: 154px; display: table-cell;" title="Vehicle Maker"><img src="~/Images/images/vehicleMaker.png" alt="" style="    height: 20px; width: 20px;" /><span>@hireGroup.VehicleMake</span></span>
                                    <span style=" display: table-cell; width: 136px; word-break: break-word;" title="Vehicle Model"><img style="    height: 18px; width: 18px;" src="~/Images/images/vehicleModel.png" alt="" /><span>@hireGroup.VehicleModel</span></span>
                                    <span title="Vehicle Model-Year"><img style="    height: 18px; width: 18px;" src="~/Images/images/vehicelModelYear.png" alt="" /><span>@hireGroup.ModelYear</span> </span>
                                    <span style="margin-left: 92px;" title="Charge"><img style="    height: 20px; width: 20px;" src="~/Images/images/dollars19.png" alt="" /><span id="standard_rate" style="margin-left: -4px">SAR @hireGroup.FormatedStandardRate</span>  </span>
                                </div>

                            </div>
                        </div>

                        <h4 class="extras">Extras</h4>
                        <div class="widget-content widget-extras" id="extras_Total_Sidebar">
                            <p id="defaultItem">No Extra Item Added!</p>
                        </div>
                        <div class="widget-footer widget-footer-total">
                            Total (SAR): <span class="price"></span><span id="overAllTotal" class="price"> @hireGroup.FormatedStandardRate</span>
                        </div>
                    </div>
                </aside>
                <div id="content" class="sidebar-middle">
                    <div class="widget main-widget product-widget main-widget-3column">
                        <div class="widget-title">
                            <div>
                                <img src="~/Images/images/list.png" alt="" />
                                Available Extras
                            </div>
                            <div class="clear"></div>
                        </div>

                        @if (ViewBag.Data != null)
                        {
                            var extras = ViewBag.Data.ServiceItems;
                            foreach (var item in extras)
                            {
                                <div class="post">
                                    <div class="checkbox-block_container">
                                        <div class="main-block_container">
                                            <div class="additional-block_container">
                                                <div class="checkbox-block" id="@(item.ServiceItemId)"> 
                                                    <input id="@(item.ServiceItemId)" type="checkbox" class="seviceItem" name="checkbox_extras" value="1" style="cursor: pointer;  margin-top: -8px;  height: 24px; width: 24px" />
                                                </div>
                                                <div class="main-block">
                                                    <div class="product-img">
                                                        <img src="@item.ImageUrl" title="Vehicle photo" style="height: 80px;width: 80px;" />
                                                    </div>
                                                    <div class="product-info">
                                                        <h3 id="@("ItemName_" + item.ServiceItemId)" class="entry-format">@item.ServiceTypeCode-@item.ServiceItemName</h3>
                                                        <div>@item.ServiceItemDescription</div>
                                                    </div>
                                                </div>
                                                <div class="additional-block">
                                                    <span id=@("currency_" + item.ServiceItemId) hidden="">SAR </span>
                                                    <span id=@("rate_" + item.ServiceItemId)>(Select Item)</span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            } <!--extras loop ends-->
                        }   <!-- extras Null ends-->
                    </div>
                    <div class="widget main-widget product-widget main-widget-3column">
                        <div class="widget-title">
                            <div>
                                <img src="~/Images/images/list.png" alt="" />
                                Available Insurances
                            </div>
                            <div class="clear"></div>
                        </div>
                        @if (ViewBag.Data != null)
                        {
                            var insurances = ViewBag.Data.InsuranceTypes;
                            foreach (var item in insurances)
                            {
                                <div class="post">
                                    <div class="checkbox-block_container">
                                        <div class="main-block_container">
                                            <div class="additional-block_container">
                                                <div class="checkbox-block" id="@(item.InsuranceTypeId)">
                                                    <input id="@( item.InsuranceTypeId)" type="checkbox" class="insurance" name="checkbox_extras" value="1" style="cursor: pointer;  margin-top: -8px;  height: 24px; width: 24px" />
                                                </div>
                                                <div class="main-block">
                                                    <div class="product-img">
                                                        <img src="@item.ImageUrl" alt="" style="height: 80px;width: 80px;" />
                                                    </div>
                                                    <div class="product-info">
                                                        <h3 id="@("ItemName_" + item.InsuranceTypeId)" class="entry-format">@item.InsuranceTypeCode-@item.InsuranceTypeName</h3>
                                                        <div>@item.InsuranceTypeDescription</div>
                                                    </div>
                                                </div>
                                                <div class="additional-block">
                                                    <span id=@("currency_" + item.InsuranceTypeId) hidden="">SAR</span>
                                                    <span id=@("rate_" +item.InsuranceTypeId)>(Select Item)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            } <!--extras loop ends-->
                        }   <!-- extras Null ends-->

                    </div>
                    @model APIInterface.Models.ExtrasIdsContainer
                    @{

                    }
                    @using (Html.BeginForm("Checkout", Session["CompanyShortName"] + "/Rental", FormMethod.Get, new { @class = "form-horizontal  custom-group", role = "form", id = "temp" }))
                    {
                        <input type="hidden" name="ServiceItemsIds" id="ServiceItemsIds" value="shurmkro" />
                        <input type="hidden" name="InsurancesIds" id="InsurancesIds" value="shurmkro" />
                        <div class="next_page">
                            <input id="done" type="submit" class="continue_button blue_button" style="text-transform: uppercase; color: white; width: 173px;" @*onclick="location.href = '@Url.Action("Checkout", "Best/Rental")'"*@ value="Checkout" />
                        </div>
                    }

                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <footer id="footer"></footer><!--end:footer-->
    </div><!--end:conteiner-->
    <div id="overlay_block"></div>

    <script type="text/javascript" src="~/Scripts/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-ui.js"></script>
    <!--[if IE]>
    <script type="text/javascript" src="~/Scripts/js/placeholder_ie.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/js/jquery.slider.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.meio.mask.js"></script>
    <script type="text/javascript" src="~/Scripts/js/custom-form-elements.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.selectbox-0.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/script.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/_jquery.blockUI.js"></script>
    <script src="~/Scripts/ISTUtility.js"></script>  <!--Baqer added this-->
    <script>
     
       // Gets rate For Insurance
        $(document).on('change', '.insurance', callInsurance);
        // Gets Rate for Service Item
        $(document).on('change', '.seviceItem', callExtra); //here

    </script>
</body>

</html>