@using System.Security.Policy

@{
    ViewBag.Title = "SelectCar";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>@Session["siteName"] &amp; @Session["siteTitle"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/images/favicon.ico" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/jquery.slider.min.css" />
    <!--[if IE]>
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <link rel="stylesheet" id="stylesheet-ie" href="css/css_ie.css" type="text/css" media="all" />
    <![endif]-->
</head>
<body class="page page-two-column">
    <div id="conteiner">
        <div id="branding">
            <div id="branding-content">
                <div class="title-content">
                    <a href="01-home-v1.html" title=""><img class="site-logo" src="~/Images/images/thumb.png" alt="" /></a>
                    <h1 class="site-title"><a href="01-home-v1.html" title="">@Session["siteName"]</a></h1>
                </div>
                <div class="access-content">
                 
                </div><!-- .access -->
                <div class="menus-content">
                    <div class="menus">
                        <div class="language">
                            <select class="select" name="select_language">
                                <option selected="selected">English</option>
                                <option >Arabic</option>
                            </select>
                        </div>
                       
                    </div>
                 
                </div>
            </div><!-- #branding-content -->
            <div class="clear"></div>
        </div><!-- #branding -->
        <div id="progress-bar">
            <div id="progress-bar-steps">
                <div class="progress-bar-step done">
                    <div class="step_number">1</div>
                    <div class="step_name">Create request</div>
                </div>
                <div class="progress-bar-step current">
                    <div class="step_number">2</div>
                    <div class="step_name">Choose a car</div>
                </div>
                <div class="progress-bar-step">
                    <div class="step_number">3</div>
                    <div class="step_name">Choose extras</div>
                </div>
                <div class="progress-bar-step last">
                    <div class="step_number">4</div>
                    <div class="step_name">Review &amp; Book</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="main">
            
            @model APIInterface.Models.ReservationForm
            <form id="slider-form" action="04-choose-car.html" class="main-form">
                <div id="book_car" class="title-form current">
                    <img src="~/Images/images/search.png" alt="" />
                    Search for a car:
                </div>
                <div id="book_car_content" class="content-form ">
                    <div class="location-block">
                        <div class="form-block location">Location</div>
                        <div class="form-block airport_codes"><a href="#" title="">Airport codes</a></div>
                        <input class="location" disabled type="text" value='@Session["pickupName"]' placeholder="Enter airport, city or zip code" name="location" />
                        <input id="location-checkbox" type="checkbox" class="styled" name="checkbox_location" value="1" />
                        <label for="location-checkbox"> Return at different location</label>
                        <div class="location-block return_location">
                            <div class="form-block location">Return location</div>
                            <input class="location" disabled type="text" value='@Session["dropoffName"]' placeholder="Enter airport, city or zip code" name="return_location" />
                        </div>
                    </div>
                    <div class="form-block pick-up" style="margin-left: 29px;">
                        <h4>Pick-up date</h4>
                        <input class="datepicker" disabled type="text" style="width: 70%" name="data_from" value='@Session["pickupDate"]' />
                        @*<input class="time-select" type="text" size="5"  name="time_from" />*@
                    </div>
                    <div class="form-block drop-off" style="margin-left: 0px;">
                        <h4>Drop-off date</h4>
                        <input disabled class="datepicker" type="text" style="width: 70%" value='@Session["dropoffDate"]' name="data_to" value="" />
                        @*<input class="time-select" type="text" size="5"  name="time_to" />*@
                    </div>
                    @*<div class="form-block car-type">
                        <h4>Car type</h4>
                        <div class="car-type-select">
                            <select class="select" name="select_cartype">
                                <option selected="selected">Standard</option>
                                <option>Mini</option>
                            </select>
                        </div>
                    </div>*@
                    <div class="form-block form-submit">
                        <input class="orange_button form-update" type="submit" value="Update" />
                    </div>
                </div>
                <div class="clear"></div>
            </form>
            <div id="primary">
               
                <div id="content" >
                    <div class="widget main-widget product-widget">
                        <div class="content-overlay">
                            <img class="ajax-loader" src="~/Images/images/ajax-loader.gif" alt="" />
                        </div>
                        <form>
                            <div class="widget-title">
                                <div>
                                    <img src="~/Images/images/list.png" alt="" />
                                    Results <span>(3 from 3)</span>
                                </div>
                                <div class="widget-title-sort"><span class="viev-all">Sort by: </span> <a href="#" title="" class="current">Price</a> | <a href="#" title="">Type</a></div>
                                <div class="clear"></div>
                            </div>
                            <div class="post">
                                <div class="main-block_container" style="margin-left: 5px; width: 99%; margin-top: 1px; margin-bottom: 5px; ">
                                    <div id="accordion">
                                        @if (ViewBag.HGDetail != null)
                                        {
                                            int i = 0;
                                            foreach (var item in ViewBag.HGDetail)
                                            {
                                                <h3 id=@(+item.HireGroupId) >@item.HireGroupCodeName -@item.HireGroupName | @item.DropoffCharge</h3>
                                                <div class="container-fluid">
                                                    <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
                                                    @if (item.SubHireGroups != null)
                                                    {
                                                        foreach (var obj in item.SubHireGroups)
                                                        {
                                                            <div class="row"  >
                                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="width: 40%; float: left;">
                                                                    <div class="product-img">
                                                                        <img src="http://placehold.it/150x75" alt="" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="width: 60%; float: left;">
                                                                    <div class="product-info">
                                                                        <h3 class="entry-format">  <span>@item.HireGroupName</span> | <span> @obj.VehicleCategory</span></h3>
                                                                        <div class="features" style="margin-bottom: 12px;">
                                                                            <p><img src="~/Images/images/passenger-icon.png" alt="" /><span>@obj.VehicleMake</span></p>
                                                                            <p><img src="~/Images/images/transmission-icon.png" alt="" /><span>@obj.VehicleModel</span> </p>
                                                                            <p><img src="~/Images/images/km_l-icon.png" alt="" /><span>@obj.ModelYear</span> </p>
                                                                            <p><img src="~/Images/images/passenger-icon.png" alt="" /><span id=@("TCode_"+obj.HireGroupDetailId)>(No Tariff Type)</span> </p>
                                                                            <p style=" margin-left: 2px;"><img  style="width: 4%"src="~/Images/images/currency.png" alt="" /><span style="margin-left: -4px"id=@("TotalC_" + obj.HireGroupDetailId)>(No Standard Rate)</span>  </p>
                                                                        </div>
                                                                        <input type="button" name="SelectBtn" id=@(obj.HireGroupDetailId) class="blue_button Charge" style="float: left; color: white; width: 45%; margin-left: 5px;" value="Calculate Charge" />
                                                                        <input id=@(obj.HireGroupDetailId) type="button" name="SelectBtn" class="continue_button blue_button Select" style="margin-bottom: 10px; padding-top: 3px; font-weight: inherit; float: right; color: white; width: 50%; margin-left: 5px;" value="Select" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <hr />
                                                            </div>
                                                        }   <!-- HG Det Loop-->
                                                    }      
                                             
                                                </div>
                                            } <!-- HG Loop-->
                                        } <!-- HG Null-->

                                    </div>

                                </div>
                            </div>

                        </form>



                    </div>
                   
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <footer id="footer">
           
        </footer><!--end:footer-->
    </div><!--end:conteiner-->
   
    <script type="text/javascript" src="~/Scripts/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-ui.js"></script>
    <!--[if IE]>
    <script type="text/javascript" src="~/Scripts/js/placeholder_ie.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/js/jquery.slider.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.meio.mask.js"></script>
    <script type="text/javascript" src="~/Scripts/js/custom-form-elements.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.selectbox-0.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/script.js"></script>
    <script src="~/Scripts/_jquery.blockUI.js"></script>

    <script>
        $(function() {
            $( "#accordion" ).accordion();
        });
       
       

        // Vehicle Selection submition
        $('.Select').click(function() {
           

            var id = this.id;
            window.location = "SelectExtras?idString=" + id ;

        });
        
        // Calculate Charge
        $('.Charge').click(function () {
            hideUi();
            var id = this.id;
            document.getElementById(id).disabled = true;
            $.ajax({
                type: 'POST',
                data: "{'hireGroupDetailId':'" + id + "'}",
                contentType: "application/json; charset=utf-8",
                url: 'CalculateCharge',
                dataType: 'json',
                success: function (response) {
                    document.getElementById(id).disabled = false;
                    if (response.detail !== null) {
                        showUi();
                        if (response.hGcharge.TariffTypeCode == null)
                        {alert("Standard rates are not defined for current tarrif type!");
                            return;
                        }
                      //  document.getElementById("SRate_" + id.substring(7, id.length)).innerHTML = response.hGcharge.StandardRate;
                        document.getElementById("TCode_" +id).innerHTML = response.hGcharge.TariffTypeCode || '(No Tariff Type)';
                        document.getElementById("TotalC_" + id).innerHTML = response.hGcharge.TotalStandardCharge || '(No Standard Rate)';
                    }
                    else
                    {

                    }

                },
                error: function () {

                },
            });
        });
    </script>
</body>
</html>
