@using System.Security.Policy

@{
    ViewBag.Title = "SelectCar";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>@Session["siteName"] &amp; @Session["siteTitle"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/images/favicon.ico" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/jquery.slider.min.css" />
    <style>
        #accordion > h3 {
            margin-top: 5px;
        }

        #accordion > h3:first-child {
            margin-top: 0;
        }
        .ui-accordion-header-icon.ui-icon.ui-icon-minus {
            height: 17px;
            width: 16px;
            background-color: rgb(231, 231, 231);
        }
       
        input[type='button'] {
            cursor: pointer;
        }
     
    </style>
</head>
<body class="page page-two-column">
    <div id="conteiner">
        <div id="branding">
            <div id="branding-content">
                <div class="title-content">
                    <a  title=""><img style="width: 128px"class="site-logo" src="@Session["CompanyLogo"]" alt="" /></a>
                    <h1 style=" width: 200%;margin-left: 65px"class="site-title"><a  title="">@Session["siteName"]</a></h1>
                </div>
                <div class="access-content">
                 
                </div><!-- .access -->
                <div class="menus-content">
                    <div class="menus">
                        <div class="language">
                            <select class="select" name="select_language">
                                <option>English</option>
                                <option selected="selected">Arabic</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div><!-- #branding-content -->
            <div class="clear"></div>
        </div><!-- #branding -->
        <div id="progress-bar">
            <div id="progress-bar-steps">
                <a id="startingForm" class="progress-bar-step done" href='@Url.Action("Index", Session["CompanyShortName"] + "/Rental/Index")'>
                    <div class="step_number">1</div>
                    <div class="step_name">Create request</div>
                </a>
                <div class="progress-bar-step current">
                    <div class="step_number">2</div>
                    <div class="step_name">Choose a car</div>
                </div>
                <div class="progress-bar-step">
                    <div class="step_number">3</div>
                    <div class="step_name">Choose extras</div>
                </div>
                <div class="progress-bar-step last">
                    <div class="step_number">4</div>
                    <div class="step_name">Review &amp; Book</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="main">
            
            <form  class="main-form">
                <div id="book_car" class="title-form current">
                    @*<img src="~/Images/images/search.png" alt="" />*@
                    @*Search for a car:*@
                </div>
                <div id="book_car_content" class="content-form ">
                    <div class="location-block">
                        <div class="form-block location">Pick-up Location</div>
                        <input class="location" disabled type="text" value='@Session["pickupName"]' placeholder="Enter airport, city or zip code" name="location" />
                        <a href='@Url.Action("Index", Session["CompanyShortName"] + "/Rental/Index")'> Update Reservation Date/Time</a>
                    </div>
                    <div class="form-block pick-up" style=" margin-left: 18px; width: 172px;">
                        <h4>Pick-up date</h4>
                        <input class="datepicker" disabled type="text" style="margin-bottom: 12px; width: 70%" name="data_from" value='@Session["pickupDate"]' />
                       <span style=""><span style="font-weight: 800;">Duration:</span> @Session["period"] </span>
                    </div>
                    <div class="form-block drop-off" style=" margin-left: 8px;">
                        <h4 style=" height: 18px;">Drop-off Location</h4>
                        <input class="location" style="    padding-top: 0px;height: 41px;" disabled type="text" value='@Session["dropoffName"]' placeholder="Enter airport, city or zip code" name="return_location" />
                        @*<input class="time-select" type="text" size="5"  name="time_to" />*@
                    </div>
                    <div class="form-block drop-off" style=" margin-left: 29px; width: 171px;">
                        <h4>Drop-off date</h4>
                        <input disabled class="datepicker" type="text" style="width: 70%" value='@Session["dropoffDate"]' name="data_to" value="" />
                        @*<input class="time-select" type="text" size="5"  name="time_to" />*@
                    </div>
                  
                </div>
                <div class="clear"></div>
            </form>
            <div id="primary">
               
                <div id="content" >
                    <div class="widget main-widget product-widget">
                        <div class="content-overlay">
                            <img class="ajax-loader" src="~/Images/images/ajax-loader.gif" alt="" />
                        </div>
                        <form>
                            <div class="widget-title">
                                <div>
                                    <img src="~/Images/images/list.png" alt="" />
                                    Number of classes available:&nbsp;<span id="total_hg">@Session["HGCount"]</span>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="post">
                                <div class="main-block_container" style="margin-left: 5px; width: 99%; margin-top: 1px; margin-bottom: 5px; ">
                                    <div id="accordion">
                                        @if (ViewBag.HGDetail != null)
                                        {
                                            int i = 0;
                                            foreach (var item in ViewBag.HGDetail)
                                            {
                                                <h3 title="@item.Description" id=@(+item.HireGroupId)>
                                                    <span style=""> @item.HireGroupName &nbsp; @item.ChildHireGroupCount</span><span style="float: right; margin-right: 3px;">
                                                        @if (@item.DropoffCharge != 0)
                                                        {
                                                            <text> <b>Drop-off-Charges</b> : @item.DropoffCharge</text>
                                                        }
                                                    </span>
                                                </h3>
                                                <div class="container-fluid">
                                                    <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
                                                    @if (item.SubHireGroups.Count != 0)
                                                    {
                                                        int count = 0;
                                                        foreach (var obj in item.SubHireGroups)
                                                        {
                                                            <div class="row">
                                                                <div class="col-sm-4 col-lg-4" style="width: 40%; float: left;">
                                                                    <div class="product-img">
                                                                        <img src="@obj.ImageUrl" style="height: 130px; width: 290px;" title="Vehicle photo" />
                                                                    </div>

                                                                </div>
                                                                <div class="col-sm-4 col-lg-4" style="width: 30%; float: left;">
                                                                    <div class="product-info">
                                                                        <h3 class="entry-format" title="">  <span title="Hire Group">@item.HireGroupName</span> | <span title="Vehicle Categoty"> @obj.VehicleCategory</span></h3>
                                                                        <div class="features" style="margin-bottom: 12px;">
                                                                            <p title="Vehicle Maker"><img src="~/Images/images/vehicleMaker.png" alt="" style="    height: 20px; width: 20px;" /><span>@obj.VehicleMake</span></p>
                                                                            <p title="Vehicle Model"><img style="    height: 18px; width: 18px;" src="~/Images/images/vehicleModel.png" alt="" /><span>@obj.VehicleModel</span> </p>
                                                                            <p title="Vehicle Model-Year"><img style="    height: 18px; width: 18px;" src="~/Images/images/vehicelModelYear.png" alt="" /><span>@obj.ModelYear</span> </p>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4 col-lg-4" style="width: 30%; float: left;">
                                                                    <input title="Get Standard Rate" type="button" name="SelectBtn" id=@("chargeId_" + obj.HireGroupDetailId) class="blue_button Charge" style=" margin-top: 17px; float: left; color: white; width: 45%; margin-left: 5px;" value="Get Charge" />
                                                                    <input title="Select Vehicle" id=@("selectId_"+obj.HireGroupDetailId) type="button" name="SelectBtn" class="continue_button blue_button Select" hidden="" style=" margin-top: 17px; margin-bottom: 10px; padding-top: 3px; font-weight: inherit; float: right; color: white; width: 50%; margin-left: 5px;" value="Book Now" />
                                                                    <div class="product-info" style="    margin-left: 2px; font-size: 27px;margin-top: 70px;">
                                                                        <span style="margin-left: -4px; font-size: 23px;" id=@("TotalC_" + obj.HireGroupDetailId)> </span>
                                                                        <span style="font-size: 12px;" id=@("perdaycost_" + obj.HireGroupDetailId)></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4 col-lg-4" style="font-family: inherit; margin-top: 9px; float: right; font-style: italic;">
                                                                    <p>
                                                                        @obj.ImageDescription
                                                                       @if (item.SubHireGroups.Count != (count + 1))
                                                                        {
                                                                            <hr style="margin-bottom: 14px;"/>
                                                                        }
                                                                    </p>
                                                            </div>
                                                        </div>

                                                            count++;
                                                        }
                                                        <!-- HG Det Loop-->
                                                    }
                                                    else
                                                    {
                                                        <center>
                                                            <img src="~/Images/soldout.png" style=" height: 72px;" />
                                                        </center>
                                                    }
                                                </div>
                                            } <!-- HG Loop-->
                                        } <!-- HG Null-->

                                    </div>

                                </div>
                            </div>

                        </form>







                    </div>
                   
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <footer id="footer">
           
        </footer><!--end:footer-->
    </div><!--end:conteiner-->
   
    <script type="text/javascript" src="~/Scripts/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery-ui.js"></script>
    <!--[if IE]>
    <script type="text/javascript" src="~/Scripts/js/placeholder_ie.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/js/jquery.slider.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.meio.mask.js"></script>
    <script type="text/javascript" src="~/Scripts/js/custom-form-elements.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.selectbox-0.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/script.js"></script>
    <script src="~/Scripts/_jquery.blockUI.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.pulsate.min.js"></script>
    

    <script>

        $(document).ready(function () {

            $(function () {
                $("#accordion").accordion({
                    collapsible: true,
                    active: false,
                    heightStyle: "content",
                    icons: {
                        "header": "ui-icon-plus",
                        "activeHeader": "ui-icon-minus"
                    }
                });
            });



            // Vehicle Selection submition
            $('.Select').click(function () {
                hideUi();
                var id = this.id.substring(9, this.id.length);
                if (document.getElementById("TotalC_" + id).innerHTML == '(No Standard Rate)') {
                    $.growlUI('', 'Calculate Charge First!');
                    return false;
                }
                window.location = "SelectExtras?hireGroupDetailId=" + id;

            });
           
            // Calculate Charge
            $('.Charge').click(function () {
                var id = this.id.substring(9, this.id.length);
                if (document.getElementById("TotalC_" + id).innerHTML != ' ') {
                    return false;
                }
                hideUi();
                
                $.ajax({
                    type: 'POST',
                    data: "{'hireGroupDetailId':'" + id + "'}",
                    contentType: "application/json; charset=utf-8",
                    url: 'CalculateCharge',
                    dataType: 'json',
                    success: function (response) {
                       // document.getElementById(id).disabled = false;
                        if (response.detail !== null) {
                            showUi();
                            if (response.hGcharge.TariffTypeCode == null) {
                                alert("Standard rates are not defined for current tarrif type!");
                                return;
                            }
                            document.getElementById("TotalC_" + id).innerHTML = ("SAR "+ response.hGcharge.TotalStandardCharge);
                            document.getElementById("perdaycost_" + id).innerHTML = ("(SAR " + response.hGcharge.PerDayCost + "/day)");
                            $("#selectId_" + id).show();
                            $("#chargeId_" + id).css('display', 'none');


                            $("#TotalC_" + id).pulsate({
                                color: "#e80c4d",
                                reach: 50,
                                repeat: 5,
                                speed: 800,
                                glow: true
                            });
                        }
                        else {

                        }

                    },
                    error: function () {

                    },
                });
            });
        });

        $("#startingForm").hover(function () {
            var cls = document.getElementById("startingForm").className;
            if (cls == "progress-bar-step done") {
                $("#startingForm").removeClass("progress-bar-step done").addClass("progress-bar-step current");
                return false;
            }
            $("#startingForm").removeClass("progress-bar-step current").addClass("progress-bar-step done");

        });

    </script>
    <style>
   
    </style>
</body>
</html>
